// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 NXP
 */

#include <dt-bindings/clock/imx6ul-clock.h>

/dts-v1/;
/plugin/;

&{/} {
	sound-wm8960 {
		status = "disabled";
	};

	reg_audio: regulator-audio-pwr {
		compatible = "regulator-fixed";
		regulator-name = "audio-pwr";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sound-wm8962 {
		compatible = "fsl,imx-audio-wm8962";
		model = "wm8962-audio";
		audio-cpu = <&sai2>;
		audio-codec = <&wm8962>;
		audio-asrc = <&asrc>;
		hp-det-gpio = <&gpio5 4 0>;
		audio-routing =
			"Headphone Jack", "HPOUTL",
			"Headphone Jack", "HPOUTR",
			"Ext Spk", "SPKOUTL",
			"Ext Spk", "SPKOUTR",
			"IN1L", "Mic Jack",
			"IN3L", "Mic Jack",
			"Mic Jack", "MICBIAS",
			"AMIC", "MICBIAS",
			"IN1R", "AMIC",
			"IN2R", "AMIC";
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;

	fxls8974@18 {
		compatible = "nxp,fxls8974cf";
		reg = <0x18>;
		interrupt-parent = <&gpio5>;
		interrupts = <0 8>;
	};
};

&codec {
	status = "disabled";
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	wm8962: wm8962@1a {
		compatible = "wlf,wm8962";
		reg = <0x1a>;
		clocks = <&clks IMX6UL_CLK_SAI2>;
		DCVDD-supply = <&reg_audio>;
		DBVDD-supply = <&reg_audio>;
		AVDD-supply = <&reg_audio>;
		CPVDD-supply = <&reg_audio>;
		MICVDD-supply = <&reg_audio>;
		PLLVDD-supply = <&reg_audio>;
		SPKVDD1-supply = <&reg_audio>;
		SPKVDD2-supply = <&reg_audio>;
		gpio-cfg = <
			0x0000 /* 0:Default */
			0x0000 /* 1:Default */
			0x0000 /* 2:FN_DMICCLK */
			0x0000 /* 3:Default */
			0x0000 /* 4:FN_DMICCDAT */
			0x0000 /* 5:Default */
		>;
	};
};
