// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Variscite VAR-MX7CustomBoard carrier board for VAR-SOM-MX7
 *
 * Link: https://variscite.com/carrier-boards/var-mx7customboard/
 *
 * Copyright (C) 2026 Variscite Ltd. - https://www.variscite.com/
 *
 */

/ {
	chosen {
		stdout-path = &uart1;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		key-back {
			label = "Back";
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BACK>;
		};

		key-menu {
			label = "Menu";
			gpios = <&gpio2 28 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_MENU>;
		};

		key-home {
			label = "Home";
			gpios = <&gpio2 29 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_HOME>;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		led-d10 {
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	reg_hsic_hub_connect: regulator-hsic-hub-connect {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hsic_hub_connect>;
		regulator-name = "reg_hsic_hub_connect";
		gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	reg_hsic_hub_pwr_on: regulator-hsic-hub-pwr-on {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hsic_hub_pwr>;
		regulator-name = "hsic_hub_pwr_on";
		gpio = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_usb_otg1_vbus: regulator-otg1-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usbotg1_pwr>;
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_usb_otg2_vbus: regulator-otg2-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usbotg2_pwr>;
		regulator-name = "usb_otg2_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&clks {
	assigned-clocks = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <884736000>;
};

&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	cs-gpios = <&gpio4 23 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};

&i2c2 {
	/* DS1337 RTC module */
	rtc@68 {
		compatible = "dallas,ds1337";
		reg = <0x68>;
	};
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
	pinctrl-1 = <&pinctrl_i2c4_gpio>;
	scl-gpios = <&gpio4 14 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio4 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	ft5x06_ts: touchscreen@38 {
		compatible = "edt,edt-ft5206";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch>;
		interrupt-parent = <&gpio2>;
		interrupts = <30 IRQ_TYPE_EDGE_FALLING>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpios = <&gpio2 31 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
	status = "okay";
};

&snvs_poweroff {
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&snvs_rtc {
	status = "disabled";
};

/* DEBUG */
&uart1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_uart1>;
	pinctrl-1 = <&pinctrl_uart1_sleep>;
	assigned-clocks = <&clks IMX7D_UART1_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	assigned-clocks = <&clks IMX7D_UART2_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	uart-has-rtscts;
	status = "okay";
};

&usbh {
	disable-over-current;
	vbus-supply = <&reg_hsic_hub_pwr_on>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	disable-over-current;
	vbus-supply = <&reg_usb_otg1_vbus>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	vbus-supply = <&reg_usb_otg2_vbus>;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_usdhc1_gpio>;
	cd-gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
	no-1-8-v;
	keep-power-in-suspend;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
};

&iomuxc {
	pinctrl_gpio_keys: gpio-keysgrp {
		fsl,pins = <
			MX7D_PAD_EPDC_BDR0__GPIO2_IO28		0x32
			MX7D_PAD_EPDC_BDR1__GPIO2_IO29		0x32
			MX7D_PAD_GPIO1_IO11__GPIO1_IO11		0x32
		>;
	};

	pinctrl_gpio_leds: gpio-ledsgrp {
		fsl,pins = <
			MX7D_PAD_GPIO1_IO13__GPIO1_IO13		0x59
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX7D_PAD_ECSPI2_MISO__ECSPI2_MISO	0x2
			MX7D_PAD_ECSPI2_MOSI__ECSPI2_MOSI	0x2
			MX7D_PAD_ECSPI2_SCLK__ECSPI2_SCLK	0x2
			MX7D_PAD_ECSPI2_SS0__GPIO4_IO23		0x2
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX7D_PAD_I2C3_SCL__FLEXCAN2_RX		0x59
			MX7D_PAD_I2C3_SDA__FLEXCAN2_TX		0x59
		>;
	};

	pinctrl_hsic_hub_connect: hsichubconnectgrp {
		fsl,pins = <
			MX7D_PAD_GPIO1_IO12__GPIO1_IO12		0x59
		>;
	};

	pinctrl_hsic_hub_pwr: hsichubpwrgrp {
		fsl,pins = <
			MX7D_PAD_GPIO1_IO10__GPIO1_IO10		0x59
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX7D_PAD_I2C4_SDA__I2C4_SDA		0x4000007f
			MX7D_PAD_I2C4_SCL__I2C4_SCL		0x4000007f
		>;
	};

	pinctrl_i2c4_gpio: i2c4gpiogrp {
		fsl,pins = <
			MX7D_PAD_I2C4_SDA__GPIO4_IO15		0x4000007f
			MX7D_PAD_I2C4_SCL__GPIO4_IO14		0x4000007f
		>;
	};

	pinctrl_pcie: pciegrp {
		fsl,pins = <
			MX7D_PAD_EPDC_PWR_STAT__GPIO2_IO31	0x79
		>;
	};

	pinctrl_touch: touchgrp {
		fsl,pins = <
			MX7D_PAD_EPDC_PWR_COM__GPIO2_IO30	0x80000000
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX7D_PAD_UART1_TX_DATA__UART1_DCE_TX	0x79
			MX7D_PAD_UART1_RX_DATA__UART1_DCE_RX	0x79
		>;
	};

	pinctrl_uart1_sleep: uart1sleep-grp {
		fsl,pins = <
			MX7D_PAD_UART1_TX_DATA__GPIO4_IO1	0x10
			MX7D_PAD_UART1_RX_DATA__GPIO4_IO0	0x10
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX7D_PAD_LCD_ENABLE__UART2_DCE_TX	0x79
			MX7D_PAD_LCD_CLK__UART2_DCE_RX		0x79
			MX7D_PAD_LCD_VSYNC__UART2_DCE_CTS	0x79
			MX7D_PAD_LCD_HSYNC__UART2_DCE_RTS	0x79
		>;
	};

	pinctrl_usdhc1_gpio: usdhc1-gpiogrp {
		fsl,pins = <
			MX7D_PAD_SD1_CD_B__GPIO5_IO0		0x59
			MX7D_PAD_GPIO1_IO08__SD1_VSELECT	0x59
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX7D_PAD_SD1_CMD__SD1_CMD		0x59
			MX7D_PAD_SD1_CLK__SD1_CLK		0x19
			MX7D_PAD_SD1_DATA0__SD1_DATA0		0x59
			MX7D_PAD_SD1_DATA1__SD1_DATA1		0x59
			MX7D_PAD_SD1_DATA2__SD1_DATA2		0x59
			MX7D_PAD_SD1_DATA3__SD1_DATA3		0x59
		>;
	};
};

&iomuxc_lpsr {
	pinctrl_pwm2: pwm2grp {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO02__PWM2_OUT	0x110b0
		>;
	};

	pinctrl_usbotg1_pwr: usbotg1pwrgrp {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO05__GPIO1_IO5	0x14
		>;
	};

	pinctrl_usbotg2_pwr: usbotg2pwrgrp {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO07__GPIO1_IO7	0x14
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO00__WDOG1_WDOG_B	0x74
		>;
	};
};
