// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * dtsi for Variscite VAR-SOM-MX7 V2
 *
 * Changelog link: https://dev.variscite.com/var-som-mx7/changelog/#var-som-mx7_v2-v20
 *
 * Copyright (C) 2026 Variscite Ltd. - https://www.variscite.com/
 *
 */

/ {
	model = "Variscite i.MX7 Dual VAR-SOM-MX7 V2";
	compatible = "variscite,var-som-imx7d-v2", "fsl,imx7d";

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		post-power-on-delay-ms = <100>;
		power-off-delay-us = <10000>;
		reset-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
	};
};

&fec1 {
	/*
	 * The required RGMII TX and RX 2ns delays are implemented directly
	 * in hardware via passive delay elements on the SOM PCB.
	 * No delay configuration is needed in software via PHY driver.
	 */
	phy-mode = "rgmii";
};

&fec2 {
	/*
	 * The required RGMII TX and RX 2ns delays are implemented directly
	 * in hardware via passive delay elements on the SOM PCB.
	 * No delay configuration is needed in software via PHY driver.
	 */
	phy-mode = "rgmii";
};

&pinctrl_wlan {
	fsl,pins = <
		MX7D_PAD_LPSR_GPIO1_IO04__GPIO1_IO4	0x09
	>;
};

&pinctrl_wlan_sleep {
	fsl,pins = <
		MX7D_PAD_LPSR_GPIO1_IO04__GPIO1_IO4	0x10
	>;
};

/* BT */
&uart3 {
	bluetooth_iw61x: bluetooth {
		compatible = "nxp,88w8987-bt";
	};
};

/* WiFi */
&usdhc2 {
	/delete-property/ #address-cells;
	/delete-property/ #size-cells;
	mmc-pwrseq = <&wifi_pwrseq>;
	/delete-node/ wifi@1;
};
