// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2026, Altera Corporation
 */
#include "socfpga_agilex5.dtsi"

/ {
	model = "SoCFPGA Agilex5 SoCDK eMMC daughter board";
	compatible = "intel,socfpga-agilex5-socdk-emmc", "intel,socfpga-agilex5";

	aliases {
		ethernet0 = &gmac0;
		i3c0 = &i3c0;
		i3c1 = &i3c1;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			label = "hps_led0";
			gpios = <&porta 6 GPIO_ACTIVE_HIGH>;
		};

		led-1 {
			label = "hps_led1";
			gpios = <&porta 7 GPIO_ACTIVE_HIGH>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		/* Expect the bootloader to fill in the reg */
		reg = <0x0 0x80000000 0x0 0x0>;
	};

	vqmmc_io_reg: regulator-fixed-1p8v {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "vqmmc-io";
	};

	vmmc_reg: regulator-fixed-3p3v {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "vcc-emmc";
	};
};

&sdmmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	disable-wp;
	max-frequency = <200000000>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	vmmc-supply = <&vmmc_reg>;
	vqmmc-supply = <&vqmmc_io_reg>;

	status = "okay";
};

&gmac0 {
	max-frame-size = <9000>;
	phy-handle = <&emac0_phy0>;
	phy-mode = "rgmii"; /* TX/RX clock delays provided by Agilex5 I/O hardware */

	status = "okay";

	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		emac0_phy0: ethernet-phy@0 {
			reg = <0>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i3c0 {
	status = "okay";
};

&i3c1 {
	status = "okay";
};

&osc1 {
	clock-frequency = <25000000>;
};

&uart0 {
	status = "okay";
};

&watchdog0 {
	status = "okay";
};
