// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 NXP
 */

/dts-v1/;

#include "imx8mm-evk.dtsi"

/ {
	model = "FSL i.MX8MM DDR4 EVK with CYW43455 WIFI/BT board";
	compatible = "fsl,imx8mm-ddr4-evk", "fsl,imx8mm";

	leds {
		pinctrl-0 = <&pinctrl_gpio_led_2>;

		status {
			gpios = <&gpio3 4 GPIO_ACTIVE_LOW>;
		};
	};

	reg_usdhc1_vmmc: regulator-usdhc1 {
		compatible = "regulator-fixed";
		regulator-name = "WLAN_EN";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc1_vmmc>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

/delete-node/&pmic_nxp;

&i2c1 {
	pmic_rohm: pmic@4b {
		compatible = "rohm,bd71847";
		reg = <0x4b>;
		pinctrl-0 = <&pinctrl_pmic>;
		pinctrl-names = "default";
		interrupt-parent = <&gpio1>;
		interrupts = <3 GPIO_ACTIVE_LOW>;
		rohm,reset-snvs-powered;

		#clock-cells = <0>;
		clocks = <&osc_32k 0>;
		clock-output-names = "clk-32k-out";

		regulators {
			buck1_reg: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};

			buck2_reg: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
				rohm,dvs-run-voltage = <1000000>;
				rohm,dvs-idle-voltage = <900000>;
			};

			buck3_reg: BUCK3 {
				// BUCK5 in datasheet
				regulator-name = "BUCK3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1350000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck4_reg: BUCK4 {
				// BUCK6 in datasheet
				regulator-name = "BUCK4";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5_reg: BUCK5 {
				// BUCK7 in datasheet
				regulator-name = "BUCK5";
				regulator-min-microvolt = <1605000>;
				regulator-max-microvolt = <1995000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_reg: BUCK6 {
				// BUCK8 in datasheet
				regulator-name = "BUCK6";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_reg: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo6_reg: LDO6 {
				regulator-name = "LDO6";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand>;
	status = "okay";
	fsl,use-minimum-ecc;
};

&usdhc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_wlan>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>, <&pinctrl_wlan>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>, <&pinctrl_wlan>;
	bus-width = <4>;
	cap-power-off-card;
	pm-ignore-notify;
	keep-power-in-suspend;
	non-removable;
	vmmc-supply = <&reg_usdhc1_vmmc>;
	status = "okay";

	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
	};
};

&iomuxc {
	pinctrl_reg_usdhc1_vmmc: regusdhc1vmmcgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SD1_RESET_B_GPIO2_IO10	0x141
		>;
	};

	pinctrl_gpmi_nand: gpminandgrp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_ALE_RAWNAND_ALE		0x00000096
			MX8MM_IOMUXC_NAND_CE0_B_RAWNAND_CE0_B		0x00000096
			MX8MM_IOMUXC_NAND_CE1_B_RAWNAND_CE1_B		0x00000096
			MX8MM_IOMUXC_NAND_CLE_RAWNAND_CLE		0x00000096
			MX8MM_IOMUXC_NAND_DATA00_RAWNAND_DATA00		0x00000096
			MX8MM_IOMUXC_NAND_DATA01_RAWNAND_DATA01		0x00000096
			MX8MM_IOMUXC_NAND_DATA02_RAWNAND_DATA02		0x00000096
			MX8MM_IOMUXC_NAND_DATA03_RAWNAND_DATA03		0x00000096
			MX8MM_IOMUXC_NAND_DATA04_RAWNAND_DATA04		0x00000096
			MX8MM_IOMUXC_NAND_DATA05_RAWNAND_DATA05		0x00000096
			MX8MM_IOMUXC_NAND_DATA06_RAWNAND_DATA06		0x00000096
			MX8MM_IOMUXC_NAND_DATA07_RAWNAND_DATA07		0x00000096
			MX8MM_IOMUXC_NAND_RE_B_RAWNAND_RE_B		0x00000096
			MX8MM_IOMUXC_NAND_READY_B_RAWNAND_READY_B	0x00000056
			MX8MM_IOMUXC_NAND_WE_B_RAWNAND_WE_B		0x00000096
			MX8MM_IOMUXC_NAND_WP_B_RAWNAND_WP_B		0x00000096
		>;
	};

	pinctrl_gpio_led_2: gpioled2grp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_CE3_B_GPIO3_IO4	0x19
		>;
	};

	pinctrl_wlan: wlangrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO00_ANAMIX_REF_CLK_32K	0x141
			MX8MM_IOMUXC_SD1_DATA7_GPIO2_IO9		0x111
		>;
	};
};
