// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 Marek Vasut
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

&{/} {
	can_osc: can-osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <20000000>;
	};
};

&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	can_fio: can@0 {
		compatible = "microchip,mcp2515";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_can>;
		clocks = <&can_osc>;
		spi-max-frequency = <5000000>;
	};
};

&i2c_feature {	/* Feature connector I2C */
	#address-cells = <1>;
	#size-cells = <0>;

	gpio_feature: io-expander@20 {
		compatible = "nxp,pca9554";
		reg = <0x20>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_expander>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpio4>;
		interrupts = <27 IRQ_TYPE_LEVEL_LOW>;
		gpio-line-names =
			"GPIO1_output", "GPIO1_input",
			"GPIO2_output", "GPIO2_input",
			"GPIO3_output", "GPIO3_input",
			"PCA9511A_READY", "";
	};

	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
		pagesize = <32>;
	};
};

&uart1 {	/* J500/J501 */
	status = "okay";
};

&uart2 {	/* RS485 J302/J303 */
	linux,rs485-enabled-at-boot-time;
	uart-has-rtscts;
	status = "okay";
};
