// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2022 NXP
 */

/ {
	pwm_backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&tpm_rpchip_0 2 50000 0>;
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <100>;
	};
};

/delete-node/ &ite_bridge;

&dsi {
	panel@0 {
		compatible = "raydium,rm68200";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsi>;
		enable-gpios = <&pca6416_1 9 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpiof 8 GPIO_ACTIVE_LOW>;
		power-supply = <&reg_5v>;
		backlight = <&pwm_backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mipi_dsi_out>;
			};
		};
	};

	ports {
		port@1 {
			reg = <1>;

			mipi_dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&i2c_rpbus_1 {
	goodix@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&rpmsg_gpiob>;
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&rpmsg_gpiob 5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pca6416_1 5 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <720>;
		touchscreen-size-y = <1280>;
	};
};
