// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 NXP
 */

#include "imx91-9x9-qsb.dts"
#include <dt-bindings/i3c/i3c.h>

/{
	aliases {
		/delete-property/ i2c0;
	};
};

/delete-node/&lpi2c1;

&i3c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i3c1>;
	i2c-scl-hz = <400000>;
	status = "okay";

	ptn5110: tcpc@50 {
		compatible = "nxp,ptn5110";
		reg = <0x50 0x00 (I2C_FM | I2C_NO_FILTER_LOW_FREQUENCY)>;
		interrupt-parent = <&gpio3>;
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";

		port {
			typec1_dr_sw: endpoint {
				remote-endpoint = <&usb1_drd_sw>;
			};
		};

		typec1_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				     PDO_VAR(5000, 20000, 3000)>;
			op-sink-microwatt = <15000000>;
			self-powered;
		};
	};

    pcf2131: rtc@53 {
			compatible = "nxp,pcf2131";
			reg = <0x53 0x00 (I2C_FM | I2C_NO_FILTER_LOW_FREQUENCY)>;
			interrupt-parent = <&pcal6524>;
			interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
			status = "okay";
	};
};

&iomuxc {
	pinctrl_i3c1: i3c1grp {
		fsl,pins = <
			MX91_PAD_I2C1_SCL__I3C1_SCL	0x40000186
			MX91_PAD_I2C1_SDA__I3C1_SDA	0x40000186
		>;
	};
};
