// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 NXP
 */

#include "imx95-19x19-evk.dts"

/ {
	aliases {
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
		ethernet2 = &enetc_port2;
	};

	chosen {
		stdout-path = &lpuart1;
		#address-cells = <2>;
		#size-cells = <2>;
		/* will be updated by U-boot when booting Xen */
		module@0 {
			bootargs = "console=hvc0 loglevel=8 root=/dev/mmcblk1p2 rw rootwait";
			compatible = "xen,linux-zimage", "xen,multiboot-module";
			reg = <0x00000000 0x9e000000 0x00000000 0x2000000>;
		};
	};

	dummy_reg: dummy_reg {
		compatible = "regulator-fixed";
		regulator-name = "dummy_reg";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	usdhc3_pwrseq: usdhc3_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpio = <&i2c7_pcal6524_23 11 GPIO_ACTIVE_HIGH>;
	};

	/delete-node/ reg_serdes_stby;
	/delete-node/ regulator-mac-stby;
	/delete-node/ reg_slot_pwr;
	/delete-node/ regulator-slot-pwr;
	/delete-node/ regulator-audio-pwr;
	/delete-node/ regulator-audio-slot;
	/delete-node/ sound-wm8962;
	/delete-node/ pca9632;
	/delete-node/ i2c3_gpio_expander_20;

	sound-wm8904 {
		compatible = "fsl,imx-audio-wm8904";
		model = "wm8904-audio";
		audio-cpu = <&sai3>;
		audio-codec = <&wm8904>;
		audio-routing =
			"Headphone Jack", "HPOUTL",
			"Headphone Jack", "HPOUTR",
			"AMIC", "MICBIAS",
			"IN2L", "AMIC";
	};
};

&reg_can1_stby {
	gpio = <&i2c7_pcal6524_23 0 GPIO_ACTIVE_HIGH>;
};

&reg_can1_en {
	gpio = <&i2c7_pcal6524_23 2 GPIO_ACTIVE_HIGH>;
};

&reg_can2_stby {
	gpio = <&i2c7_pcal6524_23 3 GPIO_ACTIVE_HIGH>;
};

&reg_can2_en {
	gpio = <&i2c7_pcal6524_23 5 GPIO_ACTIVE_HIGH>;
};

&reg_usb_vbus {
	gpio = <&i2c7_pcal6524_23 22 GPIO_ACTIVE_HIGH>;
};

&reg_aqr_stby {
	gpio = <&i2c7_pcal6524_23 8 GPIO_ACTIVE_HIGH>;
};

&reg_aqr_en {
	gpio = <&i2c7_pcal6524_23 21 GPIO_ACTIVE_HIGH>;
};

&reg_m2_pwr {
	gpio = <&gpio2 4 GPIO_ACTIVE_LOW>;
	/delete-property/ enable-active-high;
};

&reg_pcie0 {
	gpio = <&i2c7_pcal6524_23 18 GPIO_ACTIVE_HIGH>;
};

&pcie0 {
	reset-gpio = <&i2c7_pcal6524_23 17 GPIO_ACTIVE_LOW>;
};

&pcie1 {
	/delete-property/ vpcie-supply;
	reset-gpio = <&i2c7_pcal6524_23 16 GPIO_ACTIVE_LOW>;
};

&pcie1_ep {
	/delete-property/ vpcie-supply;
};

&reg_serdes_en {
	vin-supply = <&dummy_reg>;
	gpio = <&gpio4 28 GPIO_ACTIVE_LOW>;
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	mmc-pwrseq = <&usdhc3_pwrseq>;
	vmmc-supply = <&reg_pcie0>;
	bus-width = <4>;
	keep-power-in-suspend;
	non-removable;
	status = "okay";
};

&enetc_port1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc1>;
	phy-handle = <&ethphy1>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&i2c6_gpio_expander_21 {
	status = "disabled";
};

&ethphy0 {
	reg = <1>;
	/delete-property/ reset-gpios;
};

&mt35xu01gbba {
		spi-max-frequency = <133000000>;
};

&netc_emdio {
	ethphy1: ethernet-phy@7 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <7>;
		reset-gpios = <&i2c7_pcal6524_23 23 GPIO_ACTIVE_LOW>;
		reset-assert-us = <200>;
		reset-deassert-us = <2000>;
		tx-internal-delay-ps = <1800>;
		rx-internal-delay-ps = <1666>;
	};
};

&i2c4_gpio_expander_21 {
	status = "disabled";
};

&lpi2c4 {
	/delete-node/ audio-codec@1a;

	wm8904: codec@1a {
		#sound-dai-cells = <0>;
		compatible = "wlf,wm8904";
		reg = <0x1a>;
		clocks = <&scmi_clk IMX95_CLK_SAI3>;
		clock-names = "mclk";
	};
};

&lpi2c7 {
	clock-frequency = <400000>;
	/delete-node/ tcpc@50;

	i2c7_pcal6524_23: i2c7-gpio@23 {
		compatible = "nxp,pcal6524";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c7_pcal6524>;
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio5>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
	};

	ptn5110: tcpc@52 {
		compatible = "nxp,ptn5110";
		reg = <0x52>;
		interrupt-parent = <&gpio5>;
		interrupts = <14 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ptn5110>;

		port {
			typec_dr_sw: endpoint {
				remote-endpoint = <&usb3_drd_sw>;
			};
		};

		typec_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				     PDO_VAR(5000, 20000, 3000)>;
			op-sink-microwatt = <15000000>;
			self-powered;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					typec_con_ss: endpoint {
						remote-endpoint = <&usb3_data_ss>;
					};
				};
			};
		};
	};
};

&lpspi7 {
	status = "disabled";
};

&lpuart5 {
	bluetooth {
		fw-init-baudrate = <115200>;
	};
};

&scmi_iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO04__GPIO2_IO_BIT4	0x3fe
		>;
	};

	pinctrl_enetc1: enetc1grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD3__NETCMIX_TOP_ETH1_RGMII_TD3		0x57e
			IMX95_PAD_ENET2_TD2__NETCMIX_TOP_ETH1_RGMII_TD2		0x57e
			IMX95_PAD_ENET2_TD1__NETCMIX_TOP_ETH1_RGMII_TD1		0x57e
			IMX95_PAD_ENET2_TD0__NETCMIX_TOP_ETH1_RGMII_TD0		0x57e
			IMX95_PAD_ENET2_TX_CTL__NETCMIX_TOP_ETH1_RGMII_TX_CTL	0x57e
			IMX95_PAD_ENET2_TXC__NETCMIX_TOP_ETH1_RGMII_TX_CLK	0x58e
			IMX95_PAD_ENET2_RX_CTL__NETCMIX_TOP_ETH1_RGMII_RX_CTL	0x57e
			IMX95_PAD_ENET2_RXC__NETCMIX_TOP_ETH1_RGMII_RX_CLK	0x58e
			IMX95_PAD_ENET2_RD0__NETCMIX_TOP_ETH1_RGMII_RD0		0x57e
			IMX95_PAD_ENET2_RD1__NETCMIX_TOP_ETH1_RGMII_RD1		0x57e
			IMX95_PAD_ENET2_RD2__NETCMIX_TOP_ETH1_RGMII_RD2		0x57e
			IMX95_PAD_ENET2_RD3__NETCMIX_TOP_ETH1_RGMII_RD3		0x57e
		>;
	};

	pinctrl_pwm_3_dsi_hpd_gpio: dsihpdgrp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO12__GPIO2_IO_BIT12			0x31e
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK				0x158e
			IMX95_PAD_SD3_CMD__USDHC3_CMD				0x138e
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0			0x138e
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1			0x138e
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2			0x138e
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3			0x138e
		>;
	};
};
