# SPDX-License-Identifier: GPL-2.0
#
# Nebula-matrix network device configuration
#

config NET_VENDOR_NEBULA_MATRIX
	bool "Nebula-matrix devices"
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.
	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Nebula-matrix cards. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_NEBULA_MATRIX

config NBL
	tristate "Nebula-matrix Ethernet Controller m18110/m18000 support"
	depends on PCI && (64BIT || COMPILE_TEST) && !CPU_BIG_ENDIAN
	help
	  This driver provides the core infrastructure for Nebula-matrix
	  Ethernet Controller m18110/m18000 Family of devices, including
	  PCI enumeration, firmware mailbox and channel communication.

	  More specific information on configuring the driver is in
	  <file:Documentation/networking/device_drivers/ethernet/nebula-matrix/nbl.rst>.

	  To compile this driver as a module, choose M here. The module
	  will be called nbl.

endif # NET_VENDOR_NEBULA_MATRIX
