// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	max40080_0: max40080@20 {
		compatible = "adi,max40080";
		reg = <0x20>;
	};

	max40080_1: max40080@21 {
		compatible = "adi,max40080";
		reg = <0x21>;
	};

	max40080_2: max40080@22 {
		compatible = "adi,max40080";
		reg = <0x22>;
	};

	max40080_3: max40080@23 {
		compatible = "adi,max40080";
		reg = <0x23>;
	};
};
