// SPDX-License-Identifier: GPL-2.0
/*
 * Analog Devices MAX22007
 *
 * Copyright (C) 2025 Analog Devices Inc.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&spi0 {
	status = "okay";

	max22007: max22007@0 {
		compatible = "adi,max22007";
		reg = <0>;
		spi-max-frequency = <500000>;
		spi-cpha;
		spi-cpol;
		status = "okay";
		reset-gpios = <&gpio 19 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <0>;
			adi,type = "voltage";
		};

		channel@1 {
			reg = <1>;
			adi,type = "current";
		};

		channel@2 {
			reg = <2>;
			adi,type = "voltage";
		};

		channel@3 {
			reg = <3>;
			adi,type = "voltage";
		};
	};
};

&spidev0 {
	status = "disabled";
};

&spidev1 {
	status = "disabled";
};
