
# This file exists solely to be include in the main Kconfig

config KERNEL_ALL_ADI_DRIVERS
	tristate "Build all Analog Devices Kernel Drivers"
	select SPI
	select I2C
	select IIO
	select JESD204
	select STAGING
	select HWMON
	select POWER_RESET
	select HWMON_ALL_ADI_DRIVERS
	select IIO_ALL_ADI_DRIVERS
	select INPUT_ALL_ADI_DRIVERS
	select MEDIA_ALL_ADI_DRIVERS
	select SND_SOC_ALL_ADI_CODECS
	select POWER_RESET_LTC2952
	select CHARGER_ADP5061
	select I2C_MUX_LTC4306
	select CHARGER_LTC3651
	select BATTERY_GAUGE_LTC2941
	select MUX_ADG792A
	select MUX_ADGS1408
	select AD525X_DPOT
	select AD525X_DPOT_I2C
	select AD525X_DPOT_SPI
	select ADIN_PHY
	select GPIO_ADP5588
	select GPIO_ADP5588_IRQ
	select GPIO_ADP5520
	select GPIO_ADI_DAQ1
	select SPI_AD9250FMC
	select SPI_AXI_SPI_ENGINE
	select IEEE802154_ADF7242
	select PMIC_ADP5520
	select LEDS_ADP5520
	select BACKLIGHT_ADP5520
	select BACKLIGHT_ADP8860
	select BACKLIGHT_ADP8870
	select REGULATOR_AD5398
	select REGULATOR_LTC3589
	select REGULATOR_LTC3676
	select DRM
	select DRM_ADI_AXI_HDMI
	select DRM_I2C_ADV7511
	select DRM_I2C_ADV7511_AUDIO
	select DRM_I2C_ADV7533
