# SPDX-License-Identifier: GPL-2.0-only
menu "Analog Devices"

config SND_SOC_ADI_AXI_I2S
	tristate "AXI-I2S support"
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  ASoC driver for the Analog Devices AXI-I2S softcore peripheral.

config SND_SOC_ADI_AXI_SPDIF
	tristate "AXI-SPDIF support"
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  ASoC driver for the Analog Devices AXI-SPDIF softcore peripheral.

config SND_SC5XX_PCM
	tristate "SoC Audio for the ADI SC5XX chip"
	depends on ARCH_SC57X || ARCH_SC58X || ARCH_SC59X || ARCH_SC59X_64 || COMPILE_TEST
	help
	  Say Y or M if you want to add support for codecs attached to
	  the SC5XX SPORT (synchronous serial ports) interface in I2S
	  or TDM mode.
	  You will also need to select the audio interfaces to support below.

config SND_SOC_ADI_SC5XX_I2S
	tristate
	depends on ARCH_SC59X_64 || ARCH_SC59X || ARCH_SC58X || ARCH_SC57X || COMPILE_TEST
	help
	Describes the Digital Audio Interface format, which is physcally
	built on the SPORT
	Most audio devices on SC5xx requires this
	Say Y or M if you want to enable this

choice
	prompt "SPORT data feed"
	depends on SND_SC5XX_PCM
	default SND_SC5XX_SPORT

	config SND_SC5XX_SPORT
		bool "Regular SPORT operation"
		help
		SPORT interface driver for SC5XX audio, audio data are sent and
		received through the SPORT DMA buffers

	config SND_SC5XX_SPORT_SHARC
		bool "SHARC process SPORT data"
		depends on NET
		help
		  Say Y if you want to process audio data in SHARC core,
		  requires firmware with ICAP (Inter Core Audio Protocol)
		  running on a SHARC core.
		  SPORT DMA is configured and controlled by linux,
		  DMA interrupt handed over to SHARC firmware.
endchoice

config SND_SC5XX_SHARC_ALSA_CARD
	tristate "SHARC-ALSA SoC Audio card for the ADI SC5XX chip"
	depends on ADI_REMOTEPROC && RPMSG && NET && (ARCH_SC57X || ARCH_SC58X || ARCH_SC59X || ARCH_SC59X_64 || COMPILE_TEST)
	help
	  Virtual SHARC ASoC card driver. Creates a sound card for each "sharc-audio"
	  rpmsg endpoint announced on a rpmsg channel. The driver is just
	  a communication bridge between ASoC and SHARC firmware which controls
	  I2S/SPORT, DMA, codecs and amplifiers. Supported number of channels,
	  sample rates, and formats depends on features reported by SHARC firmware.

endmenu
