#
# Codec configuration
#

menu "MXC HANTRO(Video Processing Unit) V4L2 support"
#	depends on ARCH_FSL_IMX8MP
	depends on ARCH_MXC

config MXC_HANTRO_V4L2
	tristate "Support for MXC HANTRO(Video Processing Unit) V4L2 driver"
	depends on VIDEO_V4L2
	default y
	help
		VPU hantro v4l2 device.

endmenu
