// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for QUAD AD9081-FMC-EBZ on Xilinx ZynqMP ZCU102 Rev 1.0
 *
 * Copyright (C) 2019 Analog Devices Inc.
 */

#include <dt-bindings/iio/frequency/hmc7044.h>
#include <dt-bindings/iio/adc/adi,ad9081.h>
#include <dt-bindings/gpio/gpio.h>

#include "vcu118_quad_ad9081.dtsi"

#define ADRF4360_RF16_FREQUENCY_HZ 12000000000
//#define ADRF4360_RF16_FREQUENCY_HZ 500000000

#define HMC7043_FPGA_XCVR_CLKDIV		1
#define HMC7043_FPGA_LINK_CLKDIV		2
#define HMC7043_SYSREF_CLKDIV			256
#define HMC7043_SYSREF_TIMER			(HMC7043_SYSREF_CLKDIV * 4)


#define AD9081_DAC_FREQUENCY 			ADRF4360_RF16_FREQUENCY_HZ
#define AD9081_ADC_FREQUENCY			4000000000

 /* TX path */
#define AD9081_TX_MAIN_INTERPOLATION	6
#define AD9081_TX_CHAN_INTERPOLATION	8
#define AD9081_TX_MAIN_NCO_SHIFT		2800000000
#define AD9081_TX_CHAN_NCO_SHIFT		0

#define AD9081_GAIN						2048

#define AD9081_TX_JESD_MODE				9
#define AD9081_TX_JESD_SUBCLASS			1
#define AD9081_TX_JESD_VERSION			1
#define AD9081_TX_JESD_M				8
#define AD9081_TX_JESD_F				4
#define AD9081_TX_JESD_K				32
#define AD9081_TX_JESD_N				16
#define AD9081_TX_JESD_NP				16
#define AD9081_TX_JESD_CS				0
#define AD9081_TX_JESD_L				4
#define AD9081_TX_JESD_S				1
#define AD9081_TX_JESD_HD				1

/* RX path */
#define AD9081_RX_MAIN_DECIMATION		4
#define AD9081_RX_CHAN_DECIMATION		4
#define AD9081_RX_MAIN_NCO_SHIFT		1000000000
#define AD9081_RX_CHAN_NCO_SHIFT		0

#define AD9081_RX_JESD_MODE				10
#define AD9081_RX_JESD_SUBCLASS			1
#define AD9081_RX_JESD_VERSION			1
#define AD9081_RX_JESD_M				8
#define AD9081_RX_JESD_F				4
#define AD9081_RX_JESD_K				32
#define AD9081_RX_JESD_N				16
#define AD9081_RX_JESD_NP				16
#define AD9081_RX_JESD_CS				0
#define AD9081_RX_JESD_L				4
#define AD9081_RX_JESD_S				1
#define AD9081_RX_JESD_HD				1

/* Interface */

#define AD9081_SPI_MAX_SPEED_HZ			20000000

/ {
	clocks {
		clkin_j41: clock@0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <500000000>;
			clock-output-names = "refclk_j41";
		};
	};
};

&axi_gpio {
	adrf5020_ctrl {
		gpio-hog;
		gpios = <34 GPIO_ACTIVE_HIGH>;
		output-high; /* output-low for the RF2 <-> clk-rfaux8 output */
		line-name = "ADRF5020_CTRL";
	};
};

&axi_gpio_2 {
	ad9081_gpio0_mux {
		gpio-hog;
		gpios = <108 GPIO_ACTIVE_HIGH>;
		output-high; /* output-high gpio_mode - connect GPIO_0 of MxFE3 (output) to GPIO_0 of MxFE0,1,2 (input) */
		line-name = "GPIO_0 HDL mux mode";
	};
};

&axi_ad9081_rx_jesd {
	adi,octets-per-frame = <AD9081_RX_JESD_F>;
	adi,frames-per-multiframe = <AD9081_RX_JESD_K>;
};

&axi_ad9081_tx_jesd {
	adi,converters-per-device = <32>;
	adi,octets-per-frame = <AD9081_TX_JESD_F>;
	adi,frames-per-multiframe = <AD9081_TX_JESD_K>;
	adi,converter-resolution = <AD9081_TX_JESD_N>;
	adi,bits-per-sample = <AD9081_TX_JESD_NP>;
	adi,control-bits-per-sample = <AD9081_TX_JESD_CS>;
};

&rx_dma {
	adi,channels {
		dma-channel@0 {
			reg = <0>;
			adi,source-bus-width = <512>; /* Needs to be 32 * JESD_L */
			adi,source-bus-type = <2>;
			adi,destination-bus-width = <512>;  /* Needs to be 32 * JESD_L */
			adi,destination-bus-type = <0>;
		};
	};
};

&tx_dma {
	adi,channels {
		dma-channel@0 {
			reg = <0>;
			adi,source-bus-width = <512>; /* Needs to be 32 * JESD_L */
			adi,source-bus-type = <0>;
			adi,destination-bus-width = <512>; /* Needs to be 32 * JESD_L */
			adi,destination-bus-type = <2>;
		};
	};
};

&axi_spi2 {

	adf4371_clk0: adf4371-0@0 {
		compatible = "adi,adf4371";
		reg = <0>;

		#address-cells = <1>;
		#clock-cells = <1>;
		#size-cells = <0>;

		spi-max-frequency = <5000000>;
		adi,spi-3wire-enable;
		adi,muxout-select = <1>;
		clocks = <&clkin_j41>;
		clock-names = "clkin";
		clock-output-names = "pll0-clk-rf8", "pll0-clk-rfaux8",
			"pll0-clk-rf16", "pll0-clk-rf32";

		channel@2 {
			reg = <2>;
			adi,power-up-frequency = /bits/ 64 <ADRF4360_RF16_FREQUENCY_HZ>;
		};
	};

	adf4371_clk1: adf4371-1@1 {
		compatible = "adi,adf4371";
		reg = <1>;

		#address-cells = <1>;
		#clock-cells = <1>;
		#size-cells = <0>;

		spi-max-frequency = <5000000>;
		adi,spi-3wire-enable;
		adi,muxout-select = <1>;
		clocks = <&clkin_j41>;
		clock-names = "clkin";
		clock-output-names = "pll1-clk-rf8", "pll1-clk-rfaux8",
			"pll1-clk-rf16", "pll1-clk-rf32";

		channel@2 {
			reg = <2>;
			adi,power-up-frequency = /bits/ 64 <ADRF4360_RF16_FREQUENCY_HZ>;
		};
	};

	adf4371_clk2: adf4371-2@2 {
		compatible = "adi,adf4371";
		reg = <2>;

		#address-cells = <1>;
		#clock-cells = <1>;
		#size-cells = <0>;

		spi-max-frequency = <5000000>;
		adi,spi-3wire-enable;
		adi,muxout-select = <1>;
		clocks = <&clkin_j41>;
		clock-names = "clkin";
		clock-output-names = "pll2-clk-rf8", "pll2-clk-rfaux8",
			"pll2-clk-rf16", "pll2-clk-rf32";

		channel@2 {
			reg = <2>;
			adi,power-up-frequency = /bits/ 64 <ADRF4360_RF16_FREQUENCY_HZ>;
		};
	};

	adf4371_clk3: adf4371-3@3 {
		compatible = "adi,adf4371";
		reg = <3>;

		#address-cells = <1>;
		#clock-cells = <1>;
		#size-cells = <0>;

		spi-max-frequency = <5000000>;
		adi,spi-3wire-enable;
		adi,muxout-select = <1>;
		clocks = <&clkin_j41>;
		clock-names = "clkin";
		clock-output-names = "pll3-clk-rf8", "pll3-clk-rfaux8",
			"pll3-clk-rf16", "pll3-clk-rf32";

		channel@2 {
			reg = <2>;
			adi,power-up-frequency = /bits/ 64 <ADRF4360_RF16_FREQUENCY_HZ>;
		};
	};

	hmc7043: hmc7043@4 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "adi,hmc7043";
		reg = <4>;
		spi-max-frequency = <10000000>;

		clocks = <&clkin_j41>;
		clock-names = "clkin0";

		adi,sysref-timer-divider = <HMC7043_SYSREF_TIMER>;
		adi,pulse-generator-mode = <HMC7044_PULSE_GEN_CONT_PULSE>;

		adi,rf-reseeder-disable;

		adi,clkin0-buffer-mode  = <0x07>; /* RFSYNC */
		adi,clkin1-buffer-mode  = <0x07>; /* CLKIN 500 MHz */

		adi,gpi-controls = <0x00>;
		adi,gpo-controls = <0x37>;

		clock-output-names =
			"hmc7043_out0", "hmc7043_out1", "hmc7043_out2",
			"hmc7043_out3", "hmc7043_out4", "hmc7043_out5",
			"hmc7043_out6", "hmc7043_out7", "hmc7043_out8",
			"hmc7043_out9", "hmc7043_out10", "hmc7043_out11",
			"hmc7043_out12", "hmc7043_out13";

		hmc7043_c0: channel@0 {
			reg = <0>;
			adi,extended-name = "FPGA_REFCLK";
			adi,divider = <HMC7043_FPGA_XCVR_CLKDIV>;
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;
		};

		hmc7043_c8: channel@8 {
			reg = <8>;
			adi,extended-name = "CORE_LINK_CLK";
			adi,divider = <HMC7043_FPGA_LINK_CLKDIV>;
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;
		};

		hmc7043_c1: channel@1 {
			reg = <1>;
			adi,extended-name = "SYSREF_MXFE0";
			adi,divider = <HMC7043_SYSREF_CLKDIV>;
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;
			adi,startup-mode-dynamic-enable;
			adi,high-performance-mode-disable;

			adi,coarse-digital-delay = <0>;
			adi,fine-analog-delay = <24>; /* max analog */
			adi,output-mux-mode = <1>;
		};

		hmc7043_c3: channel@3 {
			reg = <3>;
			adi,extended-name = "SYSREF_MXFE1";
			adi,divider = <HMC7043_SYSREF_CLKDIV>;
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;
			adi,startup-mode-dynamic-enable;
			adi,high-performance-mode-disable;

			adi,coarse-digital-delay = <1>; /* 1 ns */
			adi,fine-analog-delay = <0>;
			adi,output-mux-mode = <0>;
		};

		hmc7043_c5: channel@5 {
			reg = <5>;
			adi,extended-name = "SYSREF_MXFE2";
			adi,divider = <HMC7043_SYSREF_CLKDIV>;
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;
			adi,startup-mode-dynamic-enable;
			adi,high-performance-mode-disable;

			adi,coarse-digital-delay = <0>;
			adi,fine-analog-delay = <16>;
			adi,output-mux-mode = <1>;
		};

		hmc7043_c7: channel@7 {
			reg = <7>;
			adi,extended-name = "SYSREF_MXFE3";
			adi,divider = <HMC7043_SYSREF_CLKDIV>;
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;
			adi,startup-mode-dynamic-enable;
			adi,high-performance-mode-disable;

			adi,coarse-digital-delay = <0>;
			adi,fine-analog-delay = <0>;
			adi,output-mux-mode = <0>;
		};

		hmc7043_c9: channel@9 {
			reg = <9>;
			adi,extended-name = "SYSREF_FPGA";
			adi,divider = <HMC7043_SYSREF_CLKDIV>;
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;
			adi,startup-mode-dynamic-enable;
			adi,high-performance-mode-disable;
		};
	};
};

&fmc_spi {

	trx0_ad9081: axi-ad9081-rx-0@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,ad9081";
		reg = <0>;
		spi-max-frequency = <AD9081_SPI_MAX_SPEED_HZ>;

		/* Clocks */
		clocks =
			<&adf4371_clk0 2>, <&hmc7043 8>, <&hmc7043 1>, <&hmc7043 9>;

		clock-names =
			"dev_clk", "fmc_clk", "sysref_dev_clk",
			"sysref_fmc_clk";

		clock-output-names = "rx_sampl_clk", "tx_sampl_clk";
		#clock-cells = <1>;
		dev_clk-clock-scales = <1 10>;

		adi,jesd-sync-pins-01-swap-enable;
		//adi,lmfc-delay-dac-clk-cycles = <14>;

		adi,tx-dacs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,dac-frequency-hz = /bits/ 64 <AD9081_DAC_FREQUENCY>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;

				adi,interpolation = <AD9081_TX_MAIN_INTERPOLATION>;

				trx0_ad9081_dac0: dac@0 {
					reg = <0>;
					adi,crossbar-select = <&trx0_ad9081_tx_fddc_chan0>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 100 MHz */
				};
				trx0_ad9081_dac1: dac@1 {
					reg = <1>;
					adi,crossbar-select = <&trx0_ad9081_tx_fddc_chan1>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 200 MHz */
				};
				trx0_ad9081_dac2: dac@2 {
					reg = <2>;
					adi,crossbar-select = <&trx0_ad9081_tx_fddc_chan2>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>;  /* 300 MHz */
				};
				trx0_ad9081_dac3: dac@3 {
					reg = <3>;
					adi,crossbar-select = <&trx0_ad9081_tx_fddc_chan3>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 400 MHz */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;
				adi,interpolation = <AD9081_TX_CHAN_INTERPOLATION>;

				trx0_ad9081_tx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx0_ad9081_tx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx0_ad9081_tx_fddc_chan2: channel@2 {
					reg = <2>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx0_ad9081_tx_fddc_chan3: channel@3 {
					reg = <3>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};

			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx0_ad9081_tx_jesd_l0: link@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_TX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_TX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_TX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */

					adi,converters-per-device = <AD9081_TX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_TX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_TX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_TX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_TX_JESD_N>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_TX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_TX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_TX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_TX_JESD_HD>;			/* JESD HD */
				};
			};
		};

		adi,rx-adcs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,adc-frequency-hz = /bits/ 64 <AD9081_ADC_FREQUENCY>;
			adi,nyquist-zone = <AD9081_ADC_NYQUIST_ZONE_EVEN>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx0_ad9081_adc0: adc@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx0_ad9081_rx_fddc_chan0>, <&trx0_ad9081_rx_fddc_chan2>; /* Static for now */
				};
				trx0_ad9081_adc1: adc@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <(AD9081_RX_MAIN_NCO_SHIFT)>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx0_ad9081_rx_fddc_chan1>, <&trx0_ad9081_rx_fddc_chan3>; /* Static for now */
				};
				trx0_ad9081_adc2: adc@2 {
					reg = <2>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx0_ad9081_rx_fddc_chan4>, <&trx0_ad9081_rx_fddc_chan6>; /* Static for now */
				};
				trx0_ad9081_adc3: adc@3 {
					reg = <3>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx0_ad9081_rx_fddc_chan5>, <&trx0_ad9081_rx_fddc_chan7>; /* Static for now */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx0_ad9081_rx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx0_ad9081_rx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx0_ad9081_rx_fddc_chan4: channel@4 {
					reg = <4>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx0_ad9081_rx_fddc_chan5: channel@5 {
					reg = <5>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx0_ad9081_rx_jesd_l0: link@0 {
					reg = <0>;
					adi,converter-select =
						<&trx0_ad9081_rx_fddc_chan0 FDDC_I>, <&trx0_ad9081_rx_fddc_chan0 FDDC_Q>,
						<&trx0_ad9081_rx_fddc_chan1 FDDC_I>, <&trx0_ad9081_rx_fddc_chan1 FDDC_Q>,
						<&trx0_ad9081_rx_fddc_chan4 FDDC_I>, <&trx0_ad9081_rx_fddc_chan4 FDDC_Q>,
						<&trx0_ad9081_rx_fddc_chan5 FDDC_I>, <&trx0_ad9081_rx_fddc_chan5 FDDC_Q>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_RX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_RX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_RX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */
					adi,device-id = <0>;

					adi,converters-per-device = <AD9081_RX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_RX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_RX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_RX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_RX_JESD_NP>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_RX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_RX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_RX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_RX_JESD_HD>;			/* JESD HD */
				};
			};
		};
	};

	trx1_ad9081: axi-ad9081-rx-1@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,ad9081";
		reg = <1>;
		spi-max-frequency = <AD9081_SPI_MAX_SPEED_HZ>;

		/* Clocks */
		clocks =
			<&adf4371_clk1 2>, <&hmc7043 8>, <&hmc7043 1>, <&hmc7043 9>;

		clock-names =
			"dev_clk", "fmc_clk", "sysref_dev_clk",
			"sysref_fmc_clk";

		clock-output-names = "rx_sampl_clk", "tx_sampl_clk";
		#clock-cells = <1>;
		dev_clk-clock-scales = <1 10>;

		adi,jesd-sync-pins-01-swap-enable;
		//adi,lmfc-delay-dac-clk-cycles = <16>;

		adi,tx-dacs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,dac-frequency-hz = /bits/ 64 <AD9081_DAC_FREQUENCY>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;

				adi,interpolation = <AD9081_TX_MAIN_INTERPOLATION>;

				trx1_ad9081_dac0: dac@0 {
					reg = <0>;
					adi,crossbar-select = <&trx1_ad9081_tx_fddc_chan0>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 100 MHz */
				};
				trx1_ad9081_dac1: dac@1 {
					reg = <1>;
					adi,crossbar-select = <&trx1_ad9081_tx_fddc_chan1>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 200 MHz */
				};
				trx1_ad9081_dac2: dac@2 {
					reg = <2>;
					adi,crossbar-select = <&trx1_ad9081_tx_fddc_chan2>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>;  /* 300 MHz */
				};
				trx1_ad9081_dac3: dac@3 {
					reg = <3>;
					adi,crossbar-select = <&trx1_ad9081_tx_fddc_chan3>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 400 MHz */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;
				adi,interpolation = <AD9081_TX_CHAN_INTERPOLATION>;

				trx1_ad9081_tx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx1_ad9081_tx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx1_ad9081_tx_fddc_chan2: channel@2 {
					reg = <2>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx1_ad9081_tx_fddc_chan3: channel@3 {
					reg = <3>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};

			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx1_ad9081_tx_jesd_l0: link@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_TX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_TX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_TX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */

					adi,converters-per-device = <AD9081_TX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_TX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_TX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_TX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_TX_JESD_N>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_TX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_TX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_TX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_TX_JESD_HD>;			/* JESD HD */
				};
			};
		};

		adi,rx-adcs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,adc-frequency-hz = /bits/ 64 <AD9081_ADC_FREQUENCY>;
			adi,nyquist-zone = <AD9081_ADC_NYQUIST_ZONE_EVEN>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx1_ad9081_adc0: adc@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx1_ad9081_rx_fddc_chan0>, <&trx1_ad9081_rx_fddc_chan2>; /* Static for now */
				};
				trx1_ad9081_adc1: adc@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx1_ad9081_rx_fddc_chan1>, <&trx1_ad9081_rx_fddc_chan3>; /* Static for now */
				};
				trx1_ad9081_adc2: adc@2 {
					reg = <2>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx1_ad9081_rx_fddc_chan4>, <&trx1_ad9081_rx_fddc_chan6>; /* Static for now */
				};
				trx1_ad9081_adc3: adc@3 {
					reg = <3>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx1_ad9081_rx_fddc_chan5>, <&trx1_ad9081_rx_fddc_chan7>; /* Static for now */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx1_ad9081_rx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx1_ad9081_rx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx1_ad9081_rx_fddc_chan4: channel@4 {
					reg = <4>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx1_ad9081_rx_fddc_chan5: channel@5 {
					reg = <5>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx1_ad9081_rx_jesd_l0: link@0 {
					reg = <0>;
					adi,converter-select =
						<&trx1_ad9081_rx_fddc_chan0 FDDC_I>, <&trx1_ad9081_rx_fddc_chan0 FDDC_Q>,
						<&trx1_ad9081_rx_fddc_chan1 FDDC_I>, <&trx1_ad9081_rx_fddc_chan1 FDDC_Q>,
						<&trx1_ad9081_rx_fddc_chan4 FDDC_I>, <&trx1_ad9081_rx_fddc_chan4 FDDC_Q>,
						<&trx1_ad9081_rx_fddc_chan5 FDDC_I>, <&trx1_ad9081_rx_fddc_chan5 FDDC_Q>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_RX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_RX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_RX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */
					adi,device-id = <1>;

					adi,converters-per-device = <AD9081_RX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_RX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_RX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_RX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_RX_JESD_NP>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_RX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_RX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_RX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_RX_JESD_HD>;			/* JESD HD */
				};
			};
		};
	};

	trx2_ad9081: axi-ad9081-rx-2@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,ad9081";
		reg = <2>;
		spi-max-frequency = <AD9081_SPI_MAX_SPEED_HZ>;

		/* Clocks */
		clocks = <&adf4371_clk2 2>, <&hmc7043 8>, <&hmc7043 1>, <&hmc7043 9>;

		clock-names = "dev_clk", "fmc_clk", "sysref_dev_clk",
			"sysref_fmc_clk";

		clock-output-names = "rx_sampl_clk", "tx_sampl_clk";
		#clock-cells = <1>;
		dev_clk-clock-scales = <1 10>;

		adi,jesd-sync-pins-01-swap-enable;
		//adi,lmfc-delay-dac-clk-cycles = <9>;

		adi,tx-dacs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,dac-frequency-hz = /bits/ 64 <AD9081_DAC_FREQUENCY>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;

				adi,interpolation = <AD9081_TX_MAIN_INTERPOLATION>;

				trx2_ad9081_dac0: dac@0 {
					reg = <0>;
					adi,crossbar-select = <&trx2_ad9081_tx_fddc_chan0>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 100 MHz */
				};
				trx2_ad9081_dac1: dac@1 {
					reg = <1>;
					adi,crossbar-select = <&trx2_ad9081_tx_fddc_chan1>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 200 MHz */
				};
				trx2_ad9081_dac2: dac@2 {
					reg = <2>;
					adi,crossbar-select = <&trx2_ad9081_tx_fddc_chan2>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>;  /* 300 MHz */
				};
				trx2_ad9081_dac3: dac@3 {
					reg = <3>;
					adi,crossbar-select = <&trx2_ad9081_tx_fddc_chan3>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 400 MHz */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;
				adi,interpolation = <AD9081_TX_CHAN_INTERPOLATION>;

				trx2_ad9081_tx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx2_ad9081_tx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx2_ad9081_tx_fddc_chan2: channel@2 {
					reg = <2>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx2_ad9081_tx_fddc_chan3: channel@3 {
					reg = <3>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};

			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx2_ad9081_tx_jesd_l0: link@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_TX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_TX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_TX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */

					adi,converters-per-device = <AD9081_TX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_TX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_TX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_TX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_TX_JESD_N>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_TX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_TX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_TX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_TX_JESD_HD>;			/* JESD HD */
				};
			};
		};

		adi,rx-adcs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,adc-frequency-hz = /bits/ 64 <AD9081_ADC_FREQUENCY>;
			adi,nyquist-zone = <AD9081_ADC_NYQUIST_ZONE_EVEN>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx2_ad9081_adc0: adc@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx2_ad9081_rx_fddc_chan0>, <&trx2_ad9081_rx_fddc_chan2>; /* Static for now */
				};
				trx2_ad9081_adc1: adc@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx2_ad9081_rx_fddc_chan1>, <&trx2_ad9081_rx_fddc_chan3>; /* Static for now */
				};
				trx2_ad9081_adc2: adc@2 {
					reg = <2>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx2_ad9081_rx_fddc_chan4>, <&trx2_ad9081_rx_fddc_chan6>; /* Static for now */
				};
				trx2_ad9081_adc3: adc@3 {
					reg = <3>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx2_ad9081_rx_fddc_chan5>, <&trx2_ad9081_rx_fddc_chan7>; /* Static for now */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx2_ad9081_rx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx2_ad9081_rx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx2_ad9081_rx_fddc_chan4: channel@4 {
					reg = <4>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx2_ad9081_rx_fddc_chan5: channel@5 {
					reg = <5>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx2_ad9081_rx_jesd_l0: link@0 {
					reg = <0>;
					adi,converter-select =
						<&trx2_ad9081_rx_fddc_chan0 FDDC_I>, <&trx2_ad9081_rx_fddc_chan0 FDDC_Q>,
						<&trx2_ad9081_rx_fddc_chan1 FDDC_I>, <&trx2_ad9081_rx_fddc_chan1 FDDC_Q>,
						<&trx2_ad9081_rx_fddc_chan4 FDDC_I>, <&trx2_ad9081_rx_fddc_chan4 FDDC_Q>,
						<&trx2_ad9081_rx_fddc_chan5 FDDC_I>, <&trx2_ad9081_rx_fddc_chan5 FDDC_Q>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_RX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_RX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_RX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */
					adi,device-id = <2>;

					adi,converters-per-device = <AD9081_RX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_RX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_RX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_RX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_RX_JESD_NP>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_RX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_RX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_RX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_RX_JESD_HD>;			/* JESD HD */
				};
			};
		};
	};

	trx3_ad9081: ad9081@3 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,ad9081";
		reg = <3>;
		spi-max-frequency = <AD9081_SPI_MAX_SPEED_HZ>;

		/* Clocks */
		clocks = <&axi_ad9081_rx_jesd>, <&axi_ad9081_tx_jesd>,
			<&adf4371_clk3 2>, <&hmc7043 8>, <&hmc7043 1>, <&hmc7043 9>;

		clock-names = "jesd_rx_clk", "jesd_tx_clk",
			"dev_clk", "fmc_clk", "sysref_dev_clk",
			"sysref_fmc_clk";

		clock-output-names = "rx_sampl_clk", "tx_sampl_clk";
		#clock-cells = <1>;
		dev_clk-clock-scales = <1 10>;

		adi,multidevice-instance-count = <4>;
		adi,jesd-sync-pins-01-swap-enable;
		//adi,lmfc-delay-dac-clk-cycles = <3>;

		adi,tx-dacs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,dac-frequency-hz = /bits/ 64 <AD9081_DAC_FREQUENCY>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;

				adi,interpolation = <AD9081_TX_MAIN_INTERPOLATION>;

				trx3_ad9081_dac0: dac@0 {
					reg = <0>;
					adi,crossbar-select = <&trx3_ad9081_tx_fddc_chan0>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 100 MHz */
				};
				trx3_ad9081_dac1: dac@1 {
					reg = <1>;
					adi,crossbar-select = <&trx3_ad9081_tx_fddc_chan1>;
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 200 MHz */
				};
				trx3_ad9081_dac2: dac@2 {
					reg = <2>;
					adi,crossbar-select = <&trx3_ad9081_tx_fddc_chan2>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>;  /* 300 MHz */
				};
				trx3_ad9081_dac3: dac@3 {
					reg = <3>;
					adi,crossbar-select = <&trx3_ad9081_tx_fddc_chan3>; /* All 4 channels @ dac2 */
					adi,nco-frequency-shift-hz = /bits/ 64 <AD9081_TX_MAIN_NCO_SHIFT>; /* 400 MHz */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;
				adi,interpolation = <AD9081_TX_CHAN_INTERPOLATION>;

				trx3_ad9081_tx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx3_ad9081_tx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx3_ad9081_tx_fddc_chan2: channel@2 {
					reg = <2>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};
				trx3_ad9081_tx_fddc_chan3: channel@3 {
					reg = <3>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_TX_CHAN_NCO_SHIFT>;

				};

			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx3_ad9081_tx_jesd_l0: link@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_TX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_TX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_TX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */

					adi,converters-per-device = <AD9081_TX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_TX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_TX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_TX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_TX_JESD_N>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_TX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_TX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_TX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_TX_JESD_HD>;			/* JESD HD */
				};
			};
		};

		adi,rx-adcs {
			#size-cells = <0>;
			#address-cells = <1>;

			adi,adc-frequency-hz = /bits/ 64 <AD9081_ADC_FREQUENCY>;
			adi,nyquist-zone = <AD9081_ADC_NYQUIST_ZONE_EVEN>;

			adi,main-data-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx3_ad9081_adc0: adc@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx3_ad9081_rx_fddc_chan0>, <&trx3_ad9081_rx_fddc_chan2>; /* Static for now */
				};
				trx3_ad9081_adc1: adc@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx3_ad9081_rx_fddc_chan1>, <&trx3_ad9081_rx_fddc_chan3>; /* Static for now */
				};
				trx3_ad9081_adc2: adc@2 {
					reg = <2>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx3_ad9081_rx_fddc_chan4>, <&trx3_ad9081_rx_fddc_chan6>; /* Static for now */
				};
				trx3_ad9081_adc3: adc@3 {
					reg = <3>;
					adi,decimation = <AD9081_RX_MAIN_DECIMATION>;
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_MAIN_NCO_SHIFT>;
					adi,nco-mode = <AD9081_ADC_NCO_VIF>;
					//adi,crossbar-select = <&trx3_ad9081_rx_fddc_chan5>, <&trx3_ad9081_rx_fddc_chan7>; /* Static for now */
				};
			};

			adi,channelizer-paths {
				#address-cells = <1>;
				#size-cells = <0>;


				trx3_ad9081_rx_fddc_chan0: channel@0 {
					reg = <0>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx3_ad9081_rx_fddc_chan1: channel@1 {
					reg = <1>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx3_ad9081_rx_fddc_chan4: channel@4 {
					reg = <4>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
				trx3_ad9081_rx_fddc_chan5: channel@5 {
					reg = <5>;
					adi,decimation = <AD9081_RX_CHAN_DECIMATION>;
					adi,gain = <AD9081_GAIN>; /* value * 10^(gain_dB/20) */
					adi,nco-frequency-shift-hz =  /bits/ 64 <AD9081_RX_CHAN_NCO_SHIFT>;

				};
			};

			adi,jesd-links {
				#size-cells = <0>;
				#address-cells = <1>;

				trx3_ad9081_rx_jesd_l0: link@0 {
					reg = <0>;
					adi,converter-select =
						<&trx3_ad9081_rx_fddc_chan0 FDDC_I>, <&trx3_ad9081_rx_fddc_chan0 FDDC_Q>,
						<&trx3_ad9081_rx_fddc_chan1 FDDC_I>, <&trx3_ad9081_rx_fddc_chan1 FDDC_Q>,
						<&trx3_ad9081_rx_fddc_chan4 FDDC_I>, <&trx3_ad9081_rx_fddc_chan4 FDDC_Q>,
						<&trx3_ad9081_rx_fddc_chan5 FDDC_I>, <&trx3_ad9081_rx_fddc_chan5 FDDC_Q>;

					adi,logical-lane-mapping = /bits/ 8 <0 1 2 3 4 5 6 7>;

					adi,link-mode = <AD9081_RX_JESD_MODE>;			/* JESD Quick Configuration Mode */
					adi,subclass = <AD9081_RX_JESD_SUBCLASS>;			/* JESD SUBCLASS 0,1,2 */
					adi,version = <AD9081_RX_JESD_VERSION>;			/* JESD VERSION 0=204A,1=204B,2=204C */
					adi,dual-link = <0>;			/* JESD Dual Link Mode */
					adi,device-id = <3>;

					adi,converters-per-device = <AD9081_RX_JESD_M>;	/* JESD M */
					adi,octets-per-frame = <AD9081_RX_JESD_F>;		/* JESD F */

					adi,frames-per-multiframe = <AD9081_RX_JESD_K>;	/* JESD K */
					adi,converter-resolution = <AD9081_RX_JESD_N>;	/* JESD N */
					adi,bits-per-sample = <AD9081_RX_JESD_NP>;		/* JESD NP' */
					adi,control-bits-per-sample = <AD9081_RX_JESD_CS>;	/* JESD CS */
					adi,lanes-per-device = <AD9081_RX_JESD_L>;		/* JESD L */
					adi,samples-per-converter-per-frame = <AD9081_RX_JESD_S>; /* JESD S */
					adi,high-density = <AD9081_RX_JESD_HD>;			/* JESD HD */
				};
			};
		};
	};

};

&trx0_ad9081 {
	reset-gpios = <&axi_gpio 41 0>;
	rx2-enable-gpios = <&axi_gpio 49 0>;
	rx1-enable-gpios = <&axi_gpio 45 0>;
	tx2-enable-gpios = <&axi_gpio 57 0>;
	tx1-enable-gpios = <&axi_gpio 53 0>;
};

&trx1_ad9081 {
	reset-gpios = <&axi_gpio 42 0>;
	rx2-enable-gpios = <&axi_gpio 50 0>;
	rx1-enable-gpios = <&axi_gpio 46 0>;
	tx2-enable-gpios = <&axi_gpio 58 0>;
	tx1-enable-gpios = <&axi_gpio 54 0>;
};

&trx2_ad9081 {
	reset-gpios = <&axi_gpio 43 0>;
	rx2-enable-gpios = <&axi_gpio 51 0>;
	rx1-enable-gpios = <&axi_gpio 47 0>;
	tx2-enable-gpios = <&axi_gpio 59 0>;
	tx1-enable-gpios = <&axi_gpio 55 0>;
};

&trx3_ad9081 {
	reset-gpios = <&axi_gpio 44 0>;
	rx2-enable-gpios = <&axi_gpio 52 0>;
	rx1-enable-gpios = <&axi_gpio 48 0>;
	tx2-enable-gpios = <&axi_gpio 60 0>;
	tx1-enable-gpios = <&axi_gpio 56 0>;
};
