# SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)-or-later

menu "sc59x 64-bit platform type"
	depends on ARCH_SC59X_64

config ARCH_SC59X_SLAVECORE_COUNT
	int "Slave core count in sc59x"
	range 0 1
	default 1
	help
	This sets the slave core count in sc59x processor.

choice
	prompt "SC59X Core Clock Divider"
	default SC59X_CCLK_DIV_2
	help
	This sets the frequency of the core. It can be 1, 2, 4 or 8
	Core Frequency = (PLL frequency) / (this setting)

config SC59X_CCLK_DIV_1
	bool "1"

config SC59X_CCLK_DIV_2
	bool "2"

config SC59X_CCLK_DIV_4
	bool "4"

config SC59X_CCLK_DIV_8
	bool "8"
endchoice

config SCLK_DIV
	int "System Clock Divider"
	range 1 15
	default 4
	help
	This sets the frequency of the system clock and provides the
	source from which SCLK0 and SCLK1 are derived.
	This can be between 1 and 15
	System Clock = (PLL frequency) / (this setting)

config SCLK0_DIV
	int "System Clock0 Divider"
	range 1 15
	default 4
	help
	This sets the frequency of the system clock0.
	This can be between 1 and 15
	System Clock0 = (System Clock) / (this setting)

config SCLK1_DIV
	int "System Clock1 Divider"
	range 1 15
	default 2
	help
	This sets the frequency of the system clock1.
	This can be between 1 and 15
	System Clock1 = (System Clock) / (this setting)

config ARCH_HEADER_IN_MACH
	bool
	default y
	help
	  Define the architecture specific head file path for
	  ADI genenric peripheral drivers.

config MACH_SC59X_DT
	bool "Support sc59x platforms from device tree"
	default y
	select USE_OF
	help
	  Include support for sc59x based platforms using the device tree for
	  discovery. Note: This is under development and not all peripherals
	  can be supported with this machine file

endmenu
