
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			avdd1_regulator: avdd1-regulator {
				compatible = "regulator-fixed";
				regulator-name = "avdd1";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-always-on;
			};

			avss_regulator: avss-regulator {
				compatible = "regulator-fixed";
				regulator-name = "avss";
				regulator-min-microvolt = <0>;
				regulator-max-microvolt = <0>;
				regulator-always-on;
			};

			avdd2_regulator: avdd2-regulator {
				compatible = "regulator-fixed";
				regulator-name = "avdd2";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-always-on;
			};

			iovdd_regulator: iovdd-regulator {
				compatible = "regulator-fixed";
				regulator-name = "iovdd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			ref1_regulator: ref1-regulator {
				compatible = "regulator-fixed";
				regulator-name = "ref1";
				regulator-min-microvolt = <4096000>;
				regulator-max-microvolt = <4096000>;
				regulator-always-on;
			};

			ref2_regulator: ref2-regulator {
				compatible = "regulator-fixed";
				regulator-name = "ref2";
				regulator-min-microvolt = <4096000>;
				regulator-max-microvolt = <4096000>;
				regulator-always-on;
			};

			axi_clk: axi_clk {
				compatible = "fixed-clock";
				clock-frequency = <100000000>;
				clock-output-names = "axi-clk";
				#clock-cells = <0>;
			};

			ad7768_mclk: ad7768_mclk {
				compatible = "fixed-clock";
				clock-frequency = <32768000>;
				clock-output-names = "ad7768-mclk";
				#clock-cells = <0>;
			};
		};
	};

	fragment@1 {
		target-path = "/fpga-axi@0";
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <1>;

			rx_dma: dmac@7c480000 {
				compatible = "adi,axi-dmac-1.00.a";
				reg = <0x7c480000 0x1000>;
				#dma-cells = <1>;
				interrupt-parent = <&intc>;
				interrupts = <0 54 4>;
				clocks = <&clkc 15>;

				adi,channels {
					#size-cells = <0>;
					#address-cells = <1>;

					dma_channel: dma-channel@0 {
						reg = <0>;
						adi,source-bus-width = <256>;
						adi,source-bus-type = <2>;
						adi,destination-bus-width = <64>;
						adi,destination-bus-type = <0>;
					};
				};
			};

			iio_backend: axi_adc@43c00000 {
				compatible = "adi,axi-adc-10.0.a";
				reg = <0x43c00000 0x10000>;
				dmas = <&rx_dma 0>;
				dma-names = "rx";
				clocks = <&axi_clk>;
				spibus-connected = <&ad7768>;
			};
		};
	};

	fragment@2 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			ad7768: adc@0 {
				compatible = "adi,ad7768";
				reg = <0>;
				spi-max-frequency = <1000000>;

				avdd1-supply = <&avdd1_regulator>;
				avss-supply = <&avss_regulator>;
				avdd2-supply = <&avdd2_regulator>;
				iovdd-supply = <&iovdd_regulator>;
				ref1p-supply = <&ref1_regulator>;
				ref1n-supply = <&avss_regulator>;
				ref2p-supply = <&ref2_regulator>;
				ref2n-supply = <&avss_regulator>;
				reset-gpios = <&gpio0 86 GPIO_ACTIVE_LOW>;

				clocks = <&ad7768_mclk>;
				clock-names = "mclk";
				adi,data-lines-number = <8>;
				gpio-controller;
				#gpio-cells = <2>;
				#address-cells = <1>;
				#size-cells = <0>;

				io-backends = <&iio_backend>;

				regulators {
					vcm-output {
						regulator-name = "vcm-output";
						regulator-min-microvolt = <2500000>;
						regulator-max-microvolt = <2500000>;
						#regulator-always-on;
					};
				};

				channel@0 {
					reg = <0>;
					adi,prechargebuf-pos-enable;
					adi,refbuf-pos-enable;
				};

				channel@1 {
					reg = <1>;
					adi,prechargebuf-pos-enable;
					adi,prechargebuf-neg-enable;
					adi,refbuf-pos-enable;
					adi,refbuf-neg-enable;
				};

				channel@2 {
					reg = <2>;
					adi,prechargebuf-neg-enable;
					adi,refbuf-neg-enable;
				};

				channel@3 {
					reg = <3>;
					adi,prechargebuf-pos-enable;
					adi,refbuf-pos-enable;
				};

				channel@4 {
					reg = <4>;
					adi,prechargebuf-pos-enable;
					adi,refbuf-pos-enable;
				};

				channel@5 {
					reg = <5>;
					adi,prechargebuf-pos-enable;
					adi,prechargebuf-neg-enable;
					adi,refbuf-pos-enable;
					adi,refbuf-neg-enable;
				};

				channel@6 {
					reg = <6>;
					adi,prechargebuf-neg-enable;
					adi,refbuf-neg-enable;
				};

				channel@7 {
					reg = <7>;
					adi,prechargebuf-pos-enable;
					adi,refbuf-pos-enable;
				};
			};
		};
	};
};
