// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;

#include "dt-bindings/iio/adc/adi,ad7768.h"

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			vref_regulator: vref-regulator {
				compatible = "regulator-fixed";
				regulator-name = "fixed-supply";
				regulator-min-microvolt = <4096000>;
				regulator-max-microvolt = <4096000>;
				regulator-always-on;
			};

			axi_clk: axi_clk {
				compatible = "fixed-clock";
				clock-frequency = <100000000>;
				clock-output-names = "axi-clk";
				#clock-cells = <0>;
			};

			ad7768_mclk: ad7768_mclk {
				compatible = "fixed-clock";
				clock-frequency = <32768000>;
				clock-output-names = "ad7768-mclk";
				#clock-cells = <0>;
			};
		};
	};

	fragment@1 {
		target-path = "/fpga-axi";
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <1>;
			rx_dma: dmac@7c480000 {
				compatible = "adi,axi-dmac-1.00.a";
				reg = <0x7c480000 0x1000>;
				#dma-cells = <1>;
				interrupt-parent = <&intc>;
				interrupts = <0 54 4>;
				clocks = <&clkc 16>;

				adi,channels {
					#size-cells = <0>;
					#address-cells = <1>;

					dma_channel: dma-channel@0 {
						reg = <0>;
						adi,source-bus-width = <128>;
						adi,source-bus-type = <2>;
						adi,destination-bus-width = <64>;
						adi,destination-bus-type = <0>;
					};
				};
			};

			iio_backend: axi_adc@43c00000 {
				compatible = "adi,axi-adc-10.0.a";
				reg = <0x43c00000 0x10000>;
				dmas = <&rx_dma 0>;
				dma-names = "rx";
				clocks = <&axi_clk>;
				spibus-connected = <&ad7768>;
			};
		};
	};

	fragment@2 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			ad7768: adc@0 {
				compatible = "adi,ad7768-4";
				reg = <0>;
				spi-max-frequency = <1000000>;

				vref-supply = <&vref_regulator>;
				reset-gpios = <&gpio0 86 1>;
				clocks = <&ad7768_mclk>;
				clock-names = "mclk";
				adi,data-lines-number = <4>;
				adi,common-mode-output-v = <AD7768_1P5_V>;
				adi,vcm-power-down;
				adi,power-mode = <AD7768_POWER_MODE_FAST>;

				io-backends = <&iio_backend>;

				#address-cells = <1>;
				#size-cells = <0>;

				channel@0 {
					reg = <0>;
					adi,ch-mode = <0>;
					adi,prebuf-pos-en;
					adi,refbuf-pos-en;
				};

				channel@1 {
					reg = <1>;
					adi,ch-mode = <0>;
					adi,prebuf-pos-en;
					adi,prebuf-neg-en;
					adi,refbuf-pos-en;
					adi,refbuf-neg-en;
				};

				channel@2 {
					reg = <2>;
					adi,ch-mode = <1>;
					adi,prebuf-neg-en;
					adi,refbuf-neg-en;
				};

				channel@3 {
					reg = <3>;
					adi,ch-mode = <1>;
					adi,prebuf-pos-en;
					adi,refbuf-pos-en;
				};
			};
		};
	};
};
