menu "i.MX SoC drivers"

menuconfig ARCH_MXC_ARM64
	bool "NXP i.MX family"
	depends on ARM64
	help
	  Support for NXP MXC/iMX-based ARM64 family of processors

if ARCH_MXC_ARM64

config ARCH_FSL_IMX8QM
	bool "i.MX8QM"
	select HAVE_IMX_MU
	select HAVE_IMX_RPMSG
	select HAVE_IMX8_SOC

config ARCH_FSL_IMX8QXP
	bool "i.MX8QXP"
	select HAVE_IMX_MU
	select HAVE_IMX_RPMSG
	select HAVE_IMX8_SOC

config ARCH_FSL_IMX8MQ
	bool "i.MX8MQ"
	select HAVE_IMX_MU
	select HAVE_IMX_RPMSG
	select HAVE_IMX8_SOC

config ARCH_FSL_IMX8MM
	bool "i.MX8MM"
	select HAVE_IMX_MU
	select HAVE_IMX_RPMSG
	select HAVE_IMX8_SOC

endif

config IMX7_PM_DOMAINS
	bool "i.MX7 PM domains"
	depends on SOC_IMX7D || (COMPILE_TEST && OF)
	depends on PM
	select PM_GENERIC_DOMAINS
	default y if SOC_IMX7D

config HAVE_IMX_MU
	bool

config HAVE_IMX8_SOC
	bool

config HAVE_IMX_RPMSG
	select RPMSG_VIRTIO
	select RPMSG
	bool
endmenu
