EXTRA_CFLAGS += -DgcdDEFAULT_CONTIGUOUS_SIZE=~0U
EXTRA_CFLAGS += -DgcdFSL_CONTIGUOUS_SIZE=134217728

ifneq ($(CONFIG_ANDROID),)
# build for android
EXTRA_CFLAGS += -DgcdANDROID_NATIVE_FENCE_SYNC=2
EXTRA_CFLAGS += -DgcdANDROID
ifeq ($(CONFIG_SYNC)$(CONFIG_SYNC_FILE),)
$(warn CONFIG_SYNC or CONFIG_SYNC_FILE is not set in kernel config)
$(warn Android native fence sync requires CONFIG_SYNC or CONFIG_SYNC_FILE)
endif
endif

ifneq ($(CONFIG_ARCH_FSL_IMX8QM),)
EXTRA_CFLAGS += -DIMX8_SCU_CONTROL=1 -DIMX8_PHYS_BASE=0x80000000 -DIMX8_PHYS_SIZE=0x80000000
endif

EXTRA_CFLAGS += -DLINUX_CMA_FSL=1
ALLOCATOR_ARRAY_H_LOCATION := $(OS_KERNEL_DIR)/allocator/freescale
CUSTOMER_ALLOCATOR_OBJS := $(ALLOCATOR_ARRAY_H_LOCATION)/gc_hal_kernel_allocator_cma.o

EXTRA_CFLAGS += -DCLASS_NAME=\"gpu_class\"

EXTRA_CFLAGS += -DgcdGPU_2D_TIMEOUT=20000
EXTRA_CFLAGS += -DNO_DMA_COHERENT=1
EXTRA_CFLAGS += -DgcdSYS_FREE_MEMORY_LIMIT=51200

