# Common drivers
CONFIG_CRYPTO_DEV_FSL_CAAM_SM_TEST=m
CONFIG_CRYPTO_DEV_FSL_CAAM_SECVIO=m

# S32 support
CONFIG_SOC_S32V234=y
CONFIG_PINCTRL_S32V234=y

# Layerscape support
CONFIG_ENETC_TSN=y
CONFIG_INPHI_PHY=y
CONFIG_FSL_DPAA2_MAC=y
CONFIG_FSL_PPFE=y
CONFIG_FSL_PPFE_UTIL_DISABLED=y
CONFIG_FSL_QIXIS=y

# i.MX support
CONFIG_PCI_IMX6_HOST=y
CONFIG_PCI_IMX6_EP=y
CONFIG_IVSHMEM_NET=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=m
CONFIG_I2C_RPBUS=y
CONFIG_GPIO_IMX_RPMSG=y
CONFIG_SENSORS_FP9931=y
CONFIG_DEVICE_THERMAL=y
CONFIG_MFD_FP9931=y
CONFIG_MFD_IMX_MIX=y
CONFIG_REGULATOR_FP9931=y
CONFIG_VIDEO_MX8_CAPTURE=y
CONFIG_VIDEO_MXC_CAPTURE=y
CONFIG_VIDEO_MXC_CSI_CAMERA=y
CONFIG_MXC_MIPI_CSI=y
CONFIG_MXC_CAMERA_OV5640_MIPI_V2=y
CONFIG_IMX_DPU_CORE=y
CONFIG_IMX_LCDIF_CORE=y
CONFIG_IMX_LCDIFV3_CORE=y
CONFIG_DRM_PANEL_ROCKTECK_HIMAX8394F=y
CONFIG_DRM_FSL_IMX_LVDS_BRIDGE=y
CONFIG_DRM_PANEL_WKS_101WX001=y
CONFIG_DRM_NXP_SEIKO_43WVFIG=y
CONFIG_DRM_DW_HDMI_GP_AUDIO=y
CONFIG_DRM_CDNS_HDMI_CEC=y
CONFIG_DRM_ITE_IT6263=y
CONFIG_DRM_ITE_IT6161=y
CONFIG_DRM_IMX_LCDIF_MUX_DISPLAY=y
CONFIG_DRM_IMX8QM_LDB=y
CONFIG_DRM_IMX8QXP_LDB=y
CONFIG_DRM_IMX8MP_LDB=y
CONFIG_DRM_IMX_SEC_DSIM=y
CONFIG_DRM_IMX_CDNS_MHDP=y
CONFIG_DRM_IMX_DCNANO=y
CONFIG_FB_MXC_EINK_V2_PANEL=y
CONFIG_SND_SOC_FSL_ESAI_CLIENT=y
CONFIG_SND_SOC_FSL_DAI=m
CONFIG_SND_SOC_IMX_AK4458=y
CONFIG_SND_SOC_IMX_AK5558=y
CONFIG_SND_SOC_IMX_AK4497=y
CONFIG_SND_SOC_IMX_MICFIL=y
CONFIG_SND_SOC_IMX_PDM_MIC=y
CONFIG_SND_SOC_IMX_DSP=m
CONFIG_SND_SOC_IMX_XCVR=y
CONFIG_SND_SOC_IMX_PCM512X=y
CONFIG_SND_SOC_SOF_IMX8ULP_SUPPORT=y
CONFIG_SND_SOC_SOF_IMX8ULP=y
CONFIG_SND_SOC_RPMSG_WM8960=m
CONFIG_SND_SOC_RPMSG_AK4497=m
CONFIG_TYPEC_SWITCH_GPIO=y
CONFIG_FSL_EDMA_V3=y
CONFIG_VIDEO_IMX_CAPTURE=y
CONFIG_ION_SYSTEM_HEAP=y
CONFIG_ION_CMA_HEAP=y
CONFIG_CLK_IMX8ULP=y
CONFIG_PWM_RPCHIP=y
CONFIG_RESET_IMX8ULP_SIM=y
CONFIG_PHY_MIXEL_LVDS=y
CONFIG_PHY_MIXEL_LVDS_COMBO=y
CONFIG_PHY_FSL_IMX8MP_LVDS=y
CONFIG_PHY_SAMSUNG_HDMI_PHY=y
CONFIG_MXC_SIM=y
CONFIG_MXC_EMVSIM=y
CONFIG_IMX8_MEDIA_DEVICE=m
CONFIG_IMX8_ISI_HW=y
CONFIG_IMX8_ISI_CORE=y
CONFIG_IMX8_ISI_CAPTURE=y
CONFIG_IMX8_ISI_M2M=y
CONFIG_IMX8_MIPI_CSI2=y
CONFIG_IMX8_MIPI_CSI2_SAM=y
CONFIG_IMX8_PARALLEL_CSI=y
CONFIG_GMSL_MAX9286=y
CONFIG_MXC_PXP_V3=y
