#
# mwgeneric driver configuration
#

menu "Mathworks IP Drivers"



config MATHWORKS_IP_CORE
	tristate "Mathworks IP Drivers"
	depends on (OF_ADDRESS && OF_IRQ) || PCI
	default m
	help
		Say Y here if you want to add support for the MathWorks IP
		drivers

		If unsure, say N.

		To compile this driver as a module, choose M here:
		the module will be called mathworks_ip_common

if MATHWORKS_IP_CORE

config MWIPCORE
	tristate "Mathwork IP Core Driver"
	depends on OF
	select MATHWORKS_IP_OF
	default m
	help
		Say Y here if you want to add support for the MathWorks IP
		core driver

		If unsure, say N.

		To compile this driver as a module, choose M here:
		the module will be called mwipcore

config MATHWORKS_GENERIC_OF
	tristate "Mathworks Generic OF Driver"
	depends on OF_ADDRESS && OF_IRQ
	default m
	help
		Say Y here if you want to add support for the MathWorks
		Generic OF driver

		If unsure, say N.

		To compile this driver as a module, choose M here:
		the module will be called mathworks_generic_of

config MATHWORKS_GENERIC_PCI
	tristate "Mathworks Generic PCI Driver"
	depends on PCI
	default m
	help
		Say Y here if you want to add support for the MathWorks
		Generic PCI driver

		If unsure, say N.

		To compile this driver as a module, choose M here:
		the module will be called mathworks_generic_pci
				
endif #if MWGENERIC
endmenu

