# SPDX-License-Identifier: GPL-2.0-only
config NET_DSA_YT921X
	tristate "Motorcomm YT9215 ethernet switch chip support"
	select NET_DSA_TAG_YT921X
	select NET_IEEE8021Q_HELPERS if DCB
	help
	  This enables support for the Motorcomm YT9215 ethernet switch
	  chip.

config NET_DSA_YT921X_LEDS
	bool "LED support for Motorcomm YT9215"
	default y
	depends on NET_DSA_YT921X
	depends on LEDS_CLASS=y || LEDS_CLASS=NET_DSA_YT921X
	help
	  This enables support for controlling the LEDs attached to the
	  Motorcomm YT9215 switch chips.
