# SPDX-License-Identifier: GPL-2.0-only
config NET_DSA_YT921X
	tristate "Motorcomm YT9215 ethernet switch chip support"
	select NET_DSA_TAG_YT921X
	select NET_IEEE8021Q_HELPERS if DCB
	help
	  This enables support for the Motorcomm YT9215 ethernet switch
	  chip.
