# SPDX-License-Identifier: GPL-2.0
#
# Sunplus Pin control driver configuration
#

config PINCTRL_SPPCTL
	bool "Sunplus SP7021 PinMux and GPIO driver"
	depends on SOC_SP7021 || COMPILE_TEST
	depends on OF && HAS_IOMEM
	select GENERIC_PINCTRL_GROUPS
	select GENERIC_PINMUX_FUNCTIONS
	select GENERIC_PINCONF
	select PINCONF
	select PINMUX
	select GPIOLIB
	help
	  Say Y here to support Sunplus SP7021 pinmux controller.
	  This driver requires the pinctrl framework.
	  This driver also provides GPIO.
