if VIDEO_MX8_CAPTURE
menu "IMX8 Camera ISI/MIPI Features support"

config IMX8_MEDIA_DEVICE
	tristate "IMX8 Media Device Driver"
	select V4L2_FWNODE
	default y

config IMX8_CAPTURE_DRIVER
	tristate "IMX8 Camera Controller"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	select V4L2_MEM2MEM_DEV
	select VIDEOBUF2_DMA_CONTIG
	default y

config IMX8_MIPI_CSI2
	tristate "IMX8 MIPI CSI2 Controller"
	default y

config IMX8_PARALLEL_CSI
	tristate "IMX8 PARALLEL CSI Controller"
	default y

config IMX8_MIPI_CSI2_YAV
	tristate "IMX8 MIPI CSI2 Controller Yet Another Version"
	default y

config GMSL_MAX9286
        tristate "Maxim max9286 GMSL Deserializer Input support"
	select SENSOR_OV10635
        depends on I2C
        ---help---
          If you plan to use the max9286 GMSL Deserializer with your capture system, say Y here.

config IMX8_JPEG
	tristate "IMX8 JPEG Encoder/Decoder"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	select V4L2_MEM2MEM_DEV
	select VIDEOBUF2_DMA_CONTIG
	default y

endmenu
endif #VIDEO_MX8_CAPTURE

