#
# Freescale Programmable Packet Forwarding Engine driver
#
config FSL_PPFE
	bool "Freescale PPFE Driver"
	select FSL_GUTS
	default n
	---help---
	Freescale LS1012A SoC has a Programmable Packet Forwarding Engine.
	It provides two high performance ethernet interfaces.
	This driver initializes, programs and controls the PPFE.
	Use this driver to enable network connectivity on LS1012A platforms.

if FSL_PPFE

config FSL_PPFE_UTIL_DISABLED
	bool "Disable PPFE UTIL Processor Engine"
	---help---
	UTIL PE has to be enabled only if required.

endif # FSL_PPFE
