# SPDX-License-Identifier: GPL-2.0+
# Copyright 2023 NXP
#

config NEUTRON
	tristate "NXP Neutron NPU support"
	depends on ARCH_MXC
	depends on IMX_NEUTRON_REMOTEPROC
	help
	  Say Y here if you want to support NXP Neutron NPU.

	  The Neutron Neural Processing Unit (NPU) is a highly scalable accelerator core architecture
	  providing machine learning (ML) acceleration.

	  If unsure, say N.
