/*
 * Device tree for ADI sc573-ezlite board
 *
 * Copyright 2014 - 2018 Analog Devices Inc.
 *
 * Licensed under the GPL-2 or later.
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/pinctrl/adi,adsp-sc573-pinctrl.h>
#include <dt-bindings/pinctrl/adi-adsp-sru.h>
#include "sc57x.dtsi"

/ {
	model = "ADI sc573-ezlite";
	compatible = "adi,sc573-ezlite", "adi,sc57x";

	aliases {
		/* serial2 = &uart2; */
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0xF000000>;
	};

	reserved-memory {
		vdev0vrings: vdev0vring0@20080000 {
			reg = <0x20080000 0x4000>;
			no-map;
		};

		vdev0buffer: vdev0buffer@20084000 {
			compatible = "shared-dma-pool";
			reg = <0x20084000 0x20000>;
			no-map;
		};

		vdev1vrings: vdev0vring0@200A4000 {
			reg = <0x200A4000 0x4000>;
			no-map;
		};

		vdev1buffer: vdev0buffer@200A8000 {
			compatible = "shared-dma-pool";
			reg = <0x200A8000 0x20000>;
			no-map;
		};
	};

	scb {
		core1-rproc@3108C000 {
			compatible = "adi,remoteproc";
			reg = <0x28240000 0x2000>,
			      <0x20000000 0x200000>;
			core-id = <1>;
			firmware-name = "adi_adsp_core1_fw.ldr";
			interrupts = <GIC_SPI 206 IRQ_TYPE_EDGE_RISING>;
			adi,svect = <&rcu 0x24>;
			resets = <&rcu 1 0>, <&rcu 1 1>;
			reset-names = "crst", "start";
			mboxes = <&tru 71>; /* trigger master SOFT4 */
			mbox-names = "kick";
			adi,l1-da = <0x240000 0x3a0000>;
			adi,l2-da = <0x20080000 0x200C0000>;
			adi,rsc-table = <&rsc_tbl0>;
			status = "okay";
		};

		core2-rproc@3108C000 {
			compatible = "adi,remoteproc";
			reg = <0x28A40000 0x2000>,
			      <0x20000000 0x200000>;
			core-id = <2>;
			firmware-name = "adi_adsp_core2_fw.ldr";
			interrupts = <GIC_SPI 206 IRQ_TYPE_EDGE_RISING>;
			adi,svect = <&rcu 0x28>;
			resets = <&rcu 2 0>, <&rcu 2 1>;
			reset-names = "crst", "start";
			mboxes = <&tru 72>; /* trigger master SOFT5 */
			mbox-names = "kick";
			adi,l1-da = <0x240000 0x3a0000>;
			adi,l2-da = <0x20080000 0x200C0000>;
			adi,rsc-table = <&rsc_tbl1>;
			status = "okay";
		};

		sound {
			compatible = "adi,sc5xx-asoc-card";
			adi,cpu-dai = <&i2s0>;
			adi,codec = <&adau1962>, <&adau1979>;
			status = "okay";
		};
	};
};

&tru {
	mcapi_to_a5: channel@0 {
		adi,tru-master-id = <70>; /* trigger master SOFT3 */
		adi,tru-slave-id = <71>; /* TRU0_IRQ3 */
	};
	mcapi_to_sharc0: channel@1 {
		adi,tru-master-id = <71>; /* trigger master SOFT4 */
		adi,tru-slave-id = <75>; /* TRU0_IRQ7 */
	};
	mcapi_to_sharc1: channel@2 {
		adi,tru-master-id = <72>; /* trigger master SOFT5 */
		adi,tru-slave-id = <79>; /* TRU0_IRQ11 */
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_default>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_default>;
	status = "okay";
	cs-gpios = <&gpc 6 GPIO_ACTIVE_LOW>;

	spidev@0 {
		#address-cells = <1>;
		size-cells = <1>;
		/* this is actually being used to control a tja1145 can transceiver */
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <5000000>;
		reg = <0>;
	};
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_quad>;

	status = "okay";

	flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <1>;
		spi-cpol;
		spi-cpha;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partition@0 {
			label = "u-boot-spl";
			reg = <0x0 0x20000>;
		};

		partition@1 {
			label = "u-boot";
			reg = <0x20000 0xb0000>;
		};

		partition@2 {
			label = "kernel";
			reg = <0x00d0000 0x610000>;
		};

		partition@3 {
			label = "rootfs";
			reg = <0x06e0000 0x0920000>;
		};
	};
};

&i2c0 {
	status = "okay";

	gpio_expander0: gpio@21 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;

		eeprom-en {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "eeprom_en";
		};

		uart0-flow-en {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "uart0-flow-en";
		};

		mlb3-en {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "mlb3-en";
		};

		can0-en {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "can0-en";
		};

		can1-en {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "can1-en";
		};

		adau1962-en {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_LOW>;
			output-high;
			line-name = "adau1962-en";
		};

		adau1979-en {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_LOW>;
			output-high;
			line-name = "adau1979-en";
		};

		audio-jack {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "audio-jack-sel";
		};

		sd-wp-en {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "sd-wp-en";
		};

		spi2flash-cs-en {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_LOW>;
			output-high;
			line-name = "spi2flash-cs-en";
		};

		spi2d2-d3-en {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_LOW>;
			output-high;
			line-name = "spi2-d2-d3-en";
		};

		spdif-optical-en {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "spdif-optical-en";
		};

		spdif-digital-en {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "spdif-digital-en";
		};

	};

	gpio_expander1: gpio@22 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;

		pushbutton3-en {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_LOW>;
			output-high;
			line-name = "pushbutton3-en";
		};

		pushbutton2-en {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_LOW>;
			output-high;
			line-name = "pushbutton2-en";
		};

		pushbutton1-en {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_LOW>;
			output-high;
			line-name = "pushbutton1-en";
		};

		leds-en {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "leds-en";
		};

		flag0-loop {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "flag0-loop";
		};

		flag1-loop {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "flag1-loop";
		};

		flag2-loop {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "flag2-loop";
		};

		flag3-loop {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "flag3-loop";
		};

		adau1977-en {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "adau1977-en";
		};

		adau1977-fault-rst-en {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "adau1977-fault-rst-en";
		};

		thumbwheel-oe {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "thumbwheel-oe";
		};

		engine-rpm-oe {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "engine-rpm-oe";
		};

	};

	adau1979: adau1979@11 {
		compatible = "adi,adau1977";
		reg = <0x11>;
	};

	adau1962: adau1962@4 {
		compatible = "adi,adau1962";
		reg = <0x4>;
		reset-gpios = <&gpa 6 GPIO_ACTIVE_LOW>;
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2s0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sru_dai0>;
	status = "okay";
};

&crc0 {
	status = "okay";
};

&crc1 {
	status = "okay";
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can0_default>;
	phy-name = "tja1055";
	phy-gpios = <&gpa 1 0>,		/* en PA1 */
		    <&gpa 2 0x1>;	/* stb PA2, GPIO_ACTIVE_LOW */
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&can1_default>;
	phy-name = "tja1145";
	phy-spibus = /bits/ 16 <0>;
	phy-spiclk = <1000000>;
	phy-spics = /bits/ 16 <38>;	/* GPIO_PC6 */
	status = "okay";
};

&emac0 {
	snps,reset-gpio = <&gpa 5 0>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 10000>;
	phy-handle = <&dp83867>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_default>;
	status = "okay";
	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		dp83867: ethernet-phy@0 {
			reg = <0>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
		};
	};
};

&usb0_phy {
	status = "okay";
};

&usb0 {
	/* mode = <2>; Place OTG port into Device Mode */
	/* mode = <1>; Place OTG port into Host Mode */
	mode = <1>;
	status = "okay";
};

&mmc0 {
	wp-en-pin = <&gpio_expander0 11 GPIO_ACTIVE_LOW>;	/* SD_WP_EN */
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_default>;
	max-frequency = <18750000>;
	status = "okay";
};

&lp0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lp0_default>;
	status = "okay";
};

&lp1 {
	pinctrl-names = "default";
	pinctrl-0 = <&lp1_default>;
	status = "okay";
};

&sram_mmap {
	status = "okay";
};

&pinctrl {
	uart0_default: uart0-default-pins {
		pinmux = <SC573_PF08__UART0_TX
			  SC573_PF09__UART0_RX>;
	};

	uart0_hwflow: uart0-hwflow-pins {
		pinmux = <SC573_PF08__UART0_TX
			  SC573_PF09__UART0_RX
			  SC573_PD05__UART0_RTS
			  SC573_PD06__UART0_CTS>;
	};

	eth0_default: eth0-default-pins {
		pinmux = <SC573_PB07__ETH0_TXD0
			  SC573_PB08__ETH0_TXD1
			  SC573_PB06__ETH0_TXD2
			  SC573_PB05__ETH0_TXD3
			  SC573_PA13__ETH0_RXD0
			  SC573_PA12__ETH0_RXD1
			  SC573_PA14__ETH0_RXD2
			  SC573_PA15__ETH0_RXD3
			  SC573_PB09__ETH0_TXCTL_TXEN
			  SC573_PB04__ETH0_TXCLK
			  SC573_PB00__ETH0_RXCLK_REFCLK
			  SC573_PB02__ETH0_RXCTL_RXDV
			  SC573_PA10__ETH0_MDIO
			  SC573_PA11__ETH0_MDC>;
	};

	spi0_default: spi0-default-pins {
		pinmux = <SC573_PC01__SPI0_CLK
			  SC573_PC02__SPI0_MISO
			  SC573_PC03__SPI0_MOSI>;
	};

	spi2_quad: spi2-quad-pins {
		pinmux = <SC573_PB14__SPI2_CLK
			  SC573_PB10__SPI2_MISO
			  SC573_PB11__SPI2_MOSI
			  SC573_PB12__SPI2_D2
			  SC573_PB13__SPI2_D3
			  SC573_PB15__SPI2_SEL1>;
	};

	can0_default: can0-default-pins {
		pinmux = <SC573_PC12__CAN0_RX
			  SC573_PC13__CAN0_TX>;
	};

	can1_default: can1-default-pins {
		pinmux = <SC573_PC14__CAN1_RX
			  SC573_PC15__CAN1_TX>;
	};

	mmc0_default: mmc0-default-pins {
		pinmux = <SC573_PE12__MSI0_D0
			  SC573_PE13__MSI0_D1
			  SC573_PE14__MSI0_D2
			  SC573_PE15__MSI0_D3
			  SC573_PF00__MSI0_D4
			  SC573_PF01__MSI0_D5
			  SC573_PF02__MSI0_D6
			  SC573_PF03__MSI0_D7
			  SC573_PF04__MSI0_CLK
			  SC573_PF07__MSI0_CMD
			  SC573_PC12__MSI0_CD>;
	};

	ppi0_8b: ppi0-8b-pins {
		pinmux = <SC573_PD10__PPI0_D00
			  SC573_PD11__PPI0_D01
			  SC573_PD12__PPI0_D02
			  SC573_PD13__PPI0_D03
			  SC573_PD14__PPI0_D04
			  SC573_PD15__PPI0_D05
			  SC573_PC05__PPI0_D06
			  SC573_PD09__PPI0_D07
			  SC573_PC11__PPI0_CLK
			  SC573_PC14__PPI0_FS1
			  SC573_PC15__PPI0_FS2
			  SC573_PC06__PPI0_FS3>;
	};

	ppi0_16b: ppi0-16b-pins {
		pinmux = <SC573_PD10__PPI0_D00
			  SC573_PD11__PPI0_D01
			  SC573_PD12__PPI0_D02
			  SC573_PD13__PPI0_D03
			  SC573_PD14__PPI0_D04
			  SC573_PD15__PPI0_D05
			  SC573_PC05__PPI0_D06
			  SC573_PD09__PPI0_D07
			  SC573_PC01__PPI0_D08
			  SC573_PC02__PPI0_D09
			  SC573_PC03__PPI0_D10
			  SC573_PC04__PPI0_D11
			  SC573_PE00__PPI0_D12
			  SC573_PC07__PPI0_D13
			  SC573_PC08__PPI0_D14
			  SC573_PE01__PPI0_D15
			  SC573_PC11__PPI0_CLK
			  SC573_PC14__PPI0_FS1
			  SC573_PC15__PPI0_FS2
			  SC573_PC06__PPI0_FS3>;
	};

	cnt0_default: cnt0-default-pins {
		pinmux = <SC573_PD07__CNT0_ZM
			  SC573_PE13__CNT0_UD
			  SC573_PD08__CNT0_DG>;
	};

	lp0_default: lp0-default-pins {
		pinmux = <SC573_PE04__LP0_D0
			  SC573_PE05__LP0_D1
			  SC573_PE06__LP0_D2
			  SC573_PE07__LP0_D3
			  SC573_PE08__LP0_D4
			  SC573_PE09__LP0_D5
			  SC573_PE10__LP0_D6
			  SC573_PE11__LP0_D7
			  SC573_PE02__LP0_CLK
			  SC573_PE03__LP0_ACK>;
	};

	lp1_default: lp1-default-pins {
		pinmux = <SC573_PD10__LP1_D0
			  SC573_PD11__LP1_D1
			  SC573_PD12__LP1_D2
			  SC573_PD13__LP1_D3
			  SC573_PD14__LP1_D4
			  SC573_PD15__LP1_D5
			  SC573_PA09__LP1_D6
			  SC573_PD09__LP1_D7
			  SC573_PB03__LP1_CLK
			  SC573_PB01__LP1_ACK>;
	};
};

&sru_ctrl_dai0 {
	status = "okay";

	sru_dai0: sru_dai0_mux {
		route {
			sru-routing =
				<DAI0_LOW_F          DAI0_PBEN02_I>,  /* set DAI0_PIN02 to input */
				<DAI0_PB02_O_ABCDE   SPT0_ACLK_I>,    /* route DAI0_PIN02 to SPT0_ACLK */
				<DAI0_LOW_F          DAI0_PBEN04_I>,  /* set DAI0_PIN04 to input */
				<DAI0_PB04_O_ABCDE   SPT0_AFS_I>,     /* route DAI0_PIN04 to SPT0_AFS */
				<DAI0_HIGH_F         DAI0_PBEN01_I>,  /* set DAI0_PIN01 to output */
				<SPT0_AD0_O_BD       DAI0_PB01_I>,    /* route SPT4_AD0 to DAI0_PIN01 */
				<DAI0_LOW_F          DAI0_PBEN12_I>,  /* set DAI0_PIN12 to input */
				<DAI0_PB12_O_ABCDE   SPT0_BCLK_I>,    /* route DAI0_PIN12 to SPT0_BCLK */
				<DAI0_LOW_F          DAI0_PBEN20_I>,  /* set DAI0_PIN20 to input */
				<DAI0_PB20_O_ABCDE   SPT0_BFS_I>,     /* route DAI0_PIN20 to SPT0_BFS */
				<DAI0_LOW_F          DAI0_PBEN06_I>,  /* set DAI0_PIN06 to input */
				<DAI0_PB06_O_ABCDE   SPT0_BD0_I>;     /* route DAI0_PIN06 to SPT0_BD0 */
		};
	};
};

&sru_ctrl_dai1 {
	status = "okay";
};

