#
# Synaptics DSX touchscreen driver configuration
#
menuconfig TOUCHSCREEN_SYNAPTICS_DSX
	bool "Synaptics DSX touchscreen"
	default y
	help
	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system

	  if unsure, say N.

if TOUCHSCREEN_SYNAPTICS_DSX

config TOUCHSCREEN_SYNAPTICS_DSX_I2C
	tristate "Synaptics DSX core driver module"
	depends on I2C
	help
	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_i2c.

endif
