// SPDX-License-Identifier: GPL-2.0
/*
 * Complete Radio Card platform containing AD9371
 * Link: https://wiki.analog.com/resources/eval/user-guides/mykonos/quickstart
 *
 * hdl_project: <adrv9371x/a10gx>
 * board_revision: <A>
 *
 * Copyright 2016-2019 Analog Devices Inc.
 */
/dts-v1/;

#include <dt-bindings/iio/frequency/ad9528.h>
#include "socfpga_arria10_gx.dtsi"

/ {
	clocks {

		dma_clk: dma_clk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <226652000>;
			clock-output-names = "dma_clock";
		};
	};

	sopc0: sopc {
		

		sys_spi: spi@10050ca0 {
			compatible = "altr,spi-1.0";
			reg = <0x10050ca0 0x00000020>;
			interrupt-parent = <&sys_cpu>;
			interrupts = <7>;

			#address-cells = <1>;
			#size-cells = <0>;

			clk0_ad9523: ad9523-1@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <1>;
				compatible = "ad9523-1";
				reg = <0>;

				sync-gpios = <&sys_gpio_out 6 0>;

				spi-max-frequency = <10000000>;
				clock-output-names = "ad9523-1_out0", "ad9523-1_out1", "ad9523-1_out2", "ad9523-1_out3", "ad9523-1_out4", "ad9523-1_out5", "ad9523-1_out6", "ad9523-1_out7", "ad9523-1_out8", "ad9523-1_out9", "ad9523-1_out10", "ad9523-1_out11", "ad9523-1_out12", "ad9523-1_out13";
				adi,vcxo-freq = <125000000>;
				adi,spi-3wire-enable;
				adi,pll1-bypass-enable;
				adi,osc-in-diff-enable;

				adi,pll2-charge-pump-current-nA = <413000>;
				adi,pll2-ndiv-a-cnt = <0>;
				adi,pll2-ndiv-b-cnt = <6>;

				adi,pll2-r2-div = <1>;
				adi,pll2-vco-diff-m1 = <3>;

				adi,rpole2 = <0>;
				adi,rzero = <7>;
				adi,cpole1 = <2>;

				ad9523_0_c1:channel@1 {
					reg = <1>;
					adi,extended-name = "ADC_CLK";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <1>;
				};
				ad9523_0_c4:channel@4 {
					reg = <4>;
					adi,extended-name = "ADC_CLK_FMC";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <2>;
				};

				ad9523_0_c5:channel@5 {
					reg = <5>;
					adi,extended-name = "ADC_SYSREF";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <128>;
				};

				ad9523_0_c6:channel@6 {
					reg = <6>;
					adi,extended-name = "CLKD_ADC_SYSREF";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <128>;
				};

				ad9523_0_c7:channel@7 {
					reg = <7>;
					adi,extended-name = "CLKD_DAC_SYSREF";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <128>;
				};

				ad9523_0_c8:channel@8 {
					reg = <8>;
					adi,extended-name = "DAC_SYSREF";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <128>;
				};

				ad9523_0_c9:channel@9 {
					reg = <9>;
					adi,extended-name = "FMC_DAC_REF_CLK";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <2>;
				};

				ad9523_0_c13:channel@13 {
					reg = <13>;
					adi,extended-name = "DAC_CLK";
					adi,driver-mode = <3>;
					adi,divider-phase = <1>;
					adi,channel-divider = <1>;
				};
			};

			dac0_ad9144: ad9144@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "ad9144";
				reg = <1>;
				spi-max-frequency = <1000000>;
				clocks = <&axi_ad9144_jesd>, <&clk0_ad9523 13>, <&clk0_ad9523 8>;
				clock-names = "jesd_dac_clk", "dac_clk", "dac_sysref";
				txen-gpios = <&sys_gpio_out 9 0>;
				reset-gpios = <&sys_gpio_out 8 0>;
			};

			adc0_ad9680: ad9680@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "ad9680";
				reg = <2>;
				spi-max-frequency = <1000000>;
				clocks = <&axi_ad9680_jesd>, <&clk0_ad9523 1>, <&clk0_ad9523 5>;
				clock-names = "jesd_adc_clk", "adc_clk", "adc_sysref";
				powerdown-gpios = <&sys_gpio_out 10 0>;
			};
		};

		tx_dma: tx-dmac@1006c000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x1006c000 0x4000>;
			#dma-cells = <1>;
			interrupt-parent = <&sys_cpu>;
			interrupts = <11>;
			clocks = <&dma_clk>;

			dma-channel {
				adi,source-bus-width = <128>;
				adi,destination-bus-width = <128>;
				adi,type = <1>;
				adi,cyclic;
			};
		};

		rx_dma: rx-dmac@1007c000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x1007c000 0x4000>;
			#dma-cells = <1>;
			interrupt-parent = <&sys_cpu>;
			interrupts = <10>;
			clocks = <&dma_clk>;

			dma-channel {
				adi,source-bus-width = <128>;
				adi,destination-bus-width = <128>;
				adi,type = <0>;
			};
		};

		axi_ad9144_core: axi-ad9144-hpc@10080000 {
			compatible = "adi,axi-ad9144-1.0";
			reg = <0x10080000 0x4000>;
			dmas = <&tx_dma 0>;
			dma-names = "tx";
			spibus-connected = <&dac0_ad9144>;
			adi,axi-pl-fifo-enable;
		};

		axi_ad9680_core: axi-ad9680-hpc@10084000 {
			compatible = "adi,axi-ad9680-1.0";
			reg = <0x10084000 0x10000>;
			dmas = <&rx_dma 0>;
			dma-names = "rx";
			spibus-connected = <&adc0_ad9680>;
		};



		axi_ad9144_jesd: axi-jesd204-tx@10060000 {
			compatible = "adi,axi-jesd204-tx-1.0";
			reg = <0x10060000 0x4000>;

			interrupt-parent = <&sys_cpu>;
			interrupts = <9>;

			clocks = <&sys_clk>, <&tx_device_clk_pll>, <&axi_ad9144_xcvr>;
			clock-names = "s_axi_aclk", "device_clk", "lane_clk";

			adi,octets-per-frame = <1>;
			adi,frames-per-multiframe = <32>;
			adi,converter-resolution = <16>;
			adi,bits-per-sample = <16>;
			adi,converters-per-device = <2>;

			#clock-cells = <0>;
			clock-output-names = "jesd_dac_lane_clk";
		};


		axi_ad9680_jesd: axi-jesd204-rx@10070000 {
			compatible = "adi,axi-jesd204-rx-1.0";
			reg = <0x10070000 0x4000>;

			interrupt-parent = <&sys_cpu>;
			interrupts = <8>;

			clocks = <&sys_clk>, <&rx_device_clk_pll>, <&axi_ad9680_xcvr>;
			clock-names = "s_axi_aclk", "device_clk", "lane_clk";

			adi,octets-per-frame = <1>;
			adi,frames-per-multiframe = <32>;

			#clock-cells = <0>;
			clock-output-names = "jesd_adc_lane_clk";
		};

		axi_ad9144_xcvr: axi-ad9144-xcvr@10064000 {
			compatible = "adi,altera-adxcvr-1.00.a";
			reg = <0x10064000 0x0001000>,
				  <0x10066000 0x00001000>,
				  <0x10068000 0x00001000>,
				  <0x10069000 0x00001000>,
				  <0x1006a000 0x00001000>,
				  <0x1006b000 0x00001000>;
			reg-names = "adxcvr", "atx-pll", "adxcfg-0", "adxcfg-1", "adxcfg-2", "adxcfg-3";

			#clock-cells = <0>;
			clocks = <&clk0_ad9523 9>, <&tx_device_clk_pll>, <&clk0_ad9523 7>;
			clock-names = "ref", "link", "sysref";
			clock-output-names = "jesd204_tx_lane_clock";
		};

		axi_ad9680_xcvr: axi-ad9680-xcvr@10074000 {
			compatible = "adi,altera-adxcvr-1.00.a";
			reg = <0x10074000 0x00001000>,
				  <0x10078000 0x00001000>,
				  <0x10079000 0x00001000>,
				  <0x1007a000 0x00001000>,
				  <0x1007b000 0x00001000>;
			reg-names = "adxcvr", "adxcfg-0", "adxcfg-1", "adxcfg-2", "adxcfg-3";

			#clock-cells = <0>;
			clocks = <&clk0_ad9523 4>, <&rx_device_clk_pll>, <&clk0_ad9523 6>;
			clock-names = "ref", "link", "sysref";
			clock-output-names = "jesd204_rx_lane_clock";
		};

		tx_device_clk_pll: altera-a10-fpll@10065000 {
			compatible = "altr,a10-fpll";
			reg = <0x10065000 0x1000>;
			#clock-cells = <0>;
			clocks = <&clk0_ad9523 9>;
			clock-output-names = "jesd204_tx_link_clock";
		};

		rx_device_clk_pll: altera-a10-fpll@10075000 {
			compatible = "altr,a10-fpll";
			reg = <0x10075000 0x1000>;
			#clock-cells = <0>;
			clocks = <&clk0_ad9523 4>;
			clock-output-names = "jesd204_rx_link_clock";
		};
	};
};
