// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright 2025 Josua Mayer <josua@solid-run.com>
 */

#include <dt-bindings/leds/common.h>

/ {
	aliases {
		rtc0 = &carrier_rtc;
		rtc1 = &pmic;
	};

	v_1_2: regulator-1v2 {
		compatible = "regulator-fixed";
		regulator-name = "1v2";
		regulator-max-microvolt = <1200000>;
		regulator-min-microvolt = <1200000>;
		vin-supply = <&reg_pmic_buck4>;
	};

	vmmc: regulator-mmc {
		compatible = "regulator-fixed";
		regulator-name = "vmmc";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		startup-delay-us = <250>;
		vin-supply = <&reg_pmic_buck4>;
	};

	vmpcie: regulator-mpcie {
		/* supplies mpcie and m2 connectors */
		regulator-name = "vmpcie";
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		enable-active-high;
	};
};

&ehci1 {
	#address-cells = <1>;
	#size-cells = <0>;

	hub_2_0: hub@1 {
		compatible = "usb4b4,6502", "usb4b4,6506";
		reg = <1>;
		vdd2-supply = <&reg_pmic_buck4>;
		vdd-supply = <&v_1_2>;
	};
};

&i2c0 {
	carrier_eeprom: eeprom@57 {
		compatible = "st,24c02", "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};

	carrier_rtc: rtc@69 {
		compatible = "abracon,ab1805";
		reg = <0x69>;
		abracon,tc-diode = "schottky";
		abracon,tc-resistor = <3>;
	};
};

&ohci0 {
	dr_mode = "host";
};

&ohci1 {
	dr_mode = "host";
};

&phy0 {
	leds {
		#address-cells = <1>;
		#size-cells = <0>;

		led@0 {
			reg = <0>;
			color = <LED_COLOR_ID_ORANGE>;
			default-state = "keep";
			function = LED_FUNCTION_LAN;
		};

		led@1 {
			reg = <1>;
			color = <LED_COLOR_ID_GREEN>;
			default-state = "keep";
			function = LED_FUNCTION_LAN;
		};
	};
};

/* mikrobus uart */
&scif1 {
	pinctrl-0 = <&mikro_uart_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* mikrobus spi */
&spi1 {
	num-cs = <1>;
	pinctrl-0 = <&spi1_pins>, <&spi1_cs_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usb2_phy0 {
	pinctrl-0 = <&usb0_vbus_pins>;
	pinctrl-names = "default";
};
