#
# MLB150 configuration
#

menu "MXC Media Local Bus Driver"

config MXC_MLB
	bool

config MXC_MLB150
	tristate "MLB150 support"
	depends on ARCH_MXC || COMPILE_TEST
	select MXC_MLB
	help
	Say Y to get the MLB150 support.

endmenu
