&i2c1 {
	i2c-mux@75 {
		i2c@1 { /* HPC1 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			eeprom@50 {
				compatible = "at24,24c02";
				reg = <0x50>;
			};
		};
	};
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_gem0_phy1>;

	ethernet_gem0_phy1: ethernet-phy@1 {
		reg = <1>;
	};

	gmiitorgmii_gem0_phy1: gmiitorgmii@8 {
		compatible = "xlnx,gmii-to-rgmii-1.0";
		reg = <8>;
		phy-handle = <&ethernet_gem0_phy1>;
	};
};

&gem1 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_gem1_phy2>;

	ethernet_gem1_phy2: ethernet-phy@2 {
		reg = <2>;
	};

	gmiitorgmii_gem1_phy2: gmiitorgmii@8 {
		compatible = "xlnx,gmii-to-rgmii-1.0";
		reg = <8>;
		phy-handle = <&ethernet_gem1_phy2>;
	};
};
