// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for AD9172-FMC-EBZ on Xilinx ZynqMP ZCU102 Rev 1.0
 *
 * Copyright (C) 2018-2019 Analog Devices Inc.
 */

#include "zynqmp-zcu102-rev10-ad9081-m8-l4.dts"

/ {
	long_peack_control@0 {
		compatible = "adi,one-bit-adc-dac";
		#address-cells = <1>;
		#size-cells = <0>;
		// 78 offset
		out-gpios = <&gpio 138 0>, <&gpio 140 0>, <&gpio 141 0>;
		label = "long_peack_control";

		channel@0 {
			reg = <0>;
			label = "MUTE";
		};
		channel@1 {
			reg = <1>;
			label = "UPDATE";
		};
		channel@2 {
			reg = <2>;
			label = "RESET";
		};
	};
};

&fpga_axi {
	axi_spi_pmod: spi@84000000 {
		#address-cells = <1>;
		#size-cells = <0>;
		bits-per-word = <8>;
		compatible = "xlnx,xps-spi-2.00.a";
		fifo-size = <16>;
		// 3 + 121 - 32
		interrupts = <0 92 IRQ_TYPE_LEVEL_HIGH>;
		num-cs = <0x8>;
		reg = <0x84000000 0x10000>;
		xlnx,num-ss-bits = <0x8>;
		xlnx,spi-mode = <0>;
	};
};

&axi_spi_pmod {
	adar3003_T0: adar3003_0@0 {
		compatible = "adi,adar3003";
		reg = <0>;
		spi-max-frequency = <1000000>;
		label = "adar3003_T0";
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&gpio 139 0>;

		adar3003_0@0 {
			reg = <0>;
			label = "adar3003_U1E";
		};
		adar3003_1@1 {
			reg = <1>;
			label = "adar3003_U2E";
		};
		adar3003_2@2 {
			reg = <2>;
			label = "adar3003_U3E";
		};
		adar3003_3@3 {
			reg = <3>;
			label = "adar3003_U4E";
		};

		adar3003_4@4 {
			reg = <4>;
			label = "adar3003_U1F";
		};
		adar3003_5@5 {
			reg = <5>;
			label = "adar3003_U2F";
		};
		adar3003_6@6 {
			reg = <6>;
			label = "adar3003_U3F";
		};
		adar3003_7@7 {
			reg = <7>;
			label = "adar3003_U4F";
		};

		adar3003_8@8 {
			reg = <8>;
			label = "adar3003_U1G";
		};
		adar3003_9@9 {
			reg = <9>;
			label = "adar3003_U2G";
		};
		adar3003_10@10 {
			reg = <10>;
			label = "adar3003_U3G";
		};
		adar3003_11@11 {
			reg = <11>;
			label = "adar3003_U4G";
		};

		adar3003_12@12 {
			reg = <12>;
			label = "adar3003_U1H";
		};
		adar3003_13@13 {
			reg = <13>;
			label = "adar3003_U2H";
		};
		adar3003_14@14 {
			reg = <14>;
			label = "adar3003_U3H";
		};
		adar3003_15@15 {
			reg = <15>;
			label = "adar3003_U4H";
		};
	};

	adar3003_T1: adar3003_1@1 {
		compatible = "adi,adar3003";
		reg = <1>;
		spi-max-frequency = <1000000>;
		label = "adar3003_T1";
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&gpio 139 0>;

		adar3003_0@0 {
			reg = <0>;
			label = "adar3003_U1E";
		};
		adar3003_1@1 {
			reg = <1>;
			label = "adar3003_U2E";
		};
		adar3003_2@2 {
			reg = <2>;
			label = "adar3003_U3E";
		};
		adar3003_3@3 {
			reg = <3>;
			label = "adar3003_U4E";
		};

		adar3003_4@4 {
			reg = <4>;
			label = "adar3003_U1F";
		};
		adar3003_5@5 {
			reg = <5>;
			label = "adar3003_U2F";
		};
		adar3003_6@6 {
			reg = <6>;
			label = "adar3003_U3F";
		};
		adar3003_7@7 {
			reg = <7>;
			label = "adar3003_U4F";
		};

		adar3003_8@8 {
			reg = <8>;
			label = "adar3003_U1G";
		};
		adar3003_9@9 {
			reg = <9>;
			label = "adar3003_U2G";
		};
		adar3003_10@10 {
			reg = <10>;
			label = "adar3003_U3G";
		};
		adar3003_11@11 {
			reg = <11>;
			label = "adar3003_U4G";
		};

		adar3003_12@12 {
			reg = <12>;
			label = "adar3003_U1H";
		};
		adar3003_13@13 {
			reg = <13>;
			label = "adar3003_U2H";
		};
		adar3003_14@14 {
			reg = <14>;
			label = "adar3003_U3H";
		};
		adar3003_15@15 {
			reg = <15>;
			label = "adar3003_U4H";
		};
	};

	adar3003_T2: adar3003_2@2 {
		compatible = "adi,adar3003";
		reg = <2>;
		spi-max-frequency = <1000000>;
		label = "adar3003_T2";
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&gpio 139 0>;

		adar3003_0@0 {
			reg = <0>;
			label = "adar3003_U1E";
		};
		adar3003_1@1 {
			reg = <1>;
			label = "adar3003_U2E";
		};
		adar3003_2@2 {
			reg = <2>;
			label = "adar3003_U3E";
		};
		adar3003_3@3 {
			reg = <3>;
			label = "adar3003_U4E";
		};

		adar3003_4@4 {
			reg = <4>;
			label = "adar3003_U1F";
		};
		adar3003_5@5 {
			reg = <5>;
			label = "adar3003_U2F";
		};
		adar3003_6@6 {
			reg = <6>;
			label = "adar3003_U3F";
		};
		adar3003_7@7 {
			reg = <7>;
			label = "adar3003_U4F";
		};

		adar3003_8@8 {
			reg = <8>;
			label = "adar3003_U1G";
		};
		adar3003_9@9 {
			reg = <9>;
			label = "adar3003_U2G";
		};
		adar3003_10@10 {
			reg = <10>;
			label = "adar3003_U3G";
		};
		adar3003_11@11 {
			reg = <11>;
			label = "adar3003_U4G";
		};

		adar3003_12@12 {
			reg = <12>;
			label = "adar3003_U1H";
		};
		adar3003_13@13 {
			reg = <13>;
			label = "adar3003_U2H";
		};
		adar3003_14@14 {
			reg = <14>;
			label = "adar3003_U3H";
		};
		adar3003_15@15 {
			reg = <15>;
			label = "adar3003_U4H";
		};
	};

	adar3003_T3: adar3003_3@3 {
		compatible = "adi,adar3003";
		reg = <3>;
		spi-max-frequency = <1000000>;
		label = "adar3003_T3";
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&gpio 139 0>;

		adar3003_0@0 {
			reg = <0>;
			label = "adar3003_U1E";
		};
		adar3003_1@1 {
			reg = <1>;
			label = "adar3003_U2E";
		};
		adar3003_2@2 {
			reg = <2>;
			label = "adar3003_U3E";
		};
		adar3003_3@3 {
			reg = <3>;
			label = "adar3003_U4E";
		};

		adar3003_4@4 {
			reg = <4>;
			label = "adar3003_U1F";
		};
		adar3003_5@5 {
			reg = <5>;
			label = "adar3003_U2F";
		};
		adar3003_6@6 {
			reg = <6>;
			label = "adar3003_U3F";
		};
		adar3003_7@7 {
			reg = <7>;
			label = "adar3003_U4F";
		};

		adar3003_8@8 {
			reg = <8>;
			label = "adar3003_U1G";
		};
		adar3003_9@9 {
			reg = <9>;
			label = "adar3003_U2G";
		};
		adar3003_10@10 {
			reg = <10>;
			label = "adar3003_U3G";
		};
		adar3003_11@11 {
			reg = <11>;
			label = "adar3003_U4G";
		};

		adar3003_12@12 {
			reg = <12>;
			label = "adar3003_U1H";
		};
		adar3003_13@13 {
			reg = <13>;
			label = "adar3003_U2H";
		};
		adar3003_14@14 {
			reg = <14>;
			label = "adar3003_U3H";
		};
		adar3003_15@15 {
			reg = <15>;
			label = "adar3003_U4H";
		};
	};
};

