config DRM_ADI_AXI_HDMI
	tristate "DRM Support for Analog Devices HDMI FPGA platforms"
	depends on DRM
	default	n
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select VT_HW_CONSOLE_BINDING if FRAMEBUFFER_CONSOLE
