# SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)-or-later

config ADI_SRAM_MMAP
	bool "Aarch64 MMAP driver for sc5xx onchip SRAM"
	depends on ARCH_SC59X_64 && SRAM
	default n
	help
	  Enable the mmap driver for sc5xx on chip SRAM.

config ADI_SRAM_MMAP_V7
	bool "Legacy (armv7) mmap driver for sc5xx onchip SRAM"
	depends on ARCH_SC5XX && SRAM
	default n
	help
	  Enable the mmap driver for sc5xx on chip SRAM.

config ADI_SRAM_CONTROLLER
	bool "/proc/sraminfo support for sc5xx onchip SRAM"
	depends on (ARCH_SC59X_64 || ARCH_SC5XX) && SRAM
	default n
	help
	  Exports total/used/avail information for sc5xx onchip SRAM.
