#include <dt-bindings/iio/frequency/ad9508.h>

/ {
	clocks {
		ref_clock: clock@0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <10000000>;
			clock-output-names = "10M-TXCO";
		};
	};
};

&fmc_spi {

	adf4360: pll@0 {
		compatible = "adi,adf4360-7";
		reg = <1>;
		spi-max-frequency = <2000000>;

		#clock-cells = <0>;

		clocks = <&ref_clock>;
		clock-output-names = "adf4360-7";

		adi,loop-filter-charge-pump-current = <5>;
		adi,loop-filter-pfd-frequency-hz = <2500000>;

		assigned-clocks = <&adf4360>;
		assigned-clock-rates = <750000000>;
//		assigned-clock-rates = <1000000000>;
	};

	ad9508: ad9508@3 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "adi,ad9508";
		reg = <0>;
		spi-cpol;
		spi-cpha;

		clocks = <&adf4360>;

		spi-max-frequency = <10000000>;
		clock-output-names = "ad9508-out0", "ad9508-out1", "ad9508-out2", "ad9508-out3";

		ad9508_0_c0:channel@0 {
			reg = <0>;
			adi,extended-name = "ADC_CLK";
			adi,driver-mode = <(DRIVER_PHASE_NORMAL | DRIVER_MODE_HSTL)>;
			adi,divider-phase = <0>;
			adi,channel-divider = <1>;
		};

		ad9508_0_c1:channel@1 {
			reg = <1>;
			adi,extended-name = "ADC_SYSREF";
			adi,driver-mode = <(DRIVER_PHASE_NORMAL | DRIVER_MODE_HSTL)>;
			adi,divider-phase = <0>;
			adi,channel-divider = <128>;
		};

		ad9508_0_c2:channel@2 {
			reg = <2>;
			adi,extended-name = "FPGA_REF_CLK";
			adi,driver-mode = <(DRIVER_PHASE_NORMAL | DRIVER_MODE_HSTL)>;
			adi,divider-phase = <0>;
			adi,channel-divider = <4>;
		};

		ad9508_0_c3:channel@3 {
			reg = <3>;
			adi,extended-name = "FPGA_GLOBAL_CLK";
			adi,driver-mode = <(DRIVER_PHASE_NORMAL | DRIVER_MODE_HSTL)>;
			adi,divider-phase = <0>;
			adi,channel-divider = <4>;
		};

	};

	ad9694: ad9694@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "adi,ad9694";

		/* SPI Setup */
		reg = <2>;
		spi-max-frequency = <25000000>;

		/* Clocks */
		clocks = <&axi_ad9694_rx_jesd>, <&ad9508 0>, <&ad9508 1>;
		clock-names = "jesd_adc_clk", "adc_clk", "adc_sysref";
	};
};
