#include <dt-bindings/interrupt-controller/irq.h>

/ {
	clocks {
		adc_clkin: clock@0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <25000>;
			clock-output-names = "sampl_clk";
		};
	};
};

&fpga_axi {

	rx_dma: dma@44a30000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x44a30000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 57 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 15>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <32>;
				adi,source-bus-type = <2>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	axi_generic_adc: axi-generic-adc@43c00000 {
		compatible = "adi,cn0363-adc-1.00.a";
		reg = <0x43c00000 0x10000>;

		clocks = <&adc_clkin>;
		clock-names = "sampl_clk";
		dmas = <&rx_dma 0>;
		dma-names = "rx";

		io-channels = <&ad7175 1>, <&ad7175 2>;
	};

	axi_spi_engine_0: spi@44a00000 {
		compatible = "adi,axi-spi-engine-1.00.a";
		reg = <0x44a00000 0x1000>;
		interrupt-parent = <&intc>;
		interrupts = <0 56 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 15 &clkc 15>;
		clock-names = "s_axi_aclk", "spi_clk";
		num-cs = <2>;

		#address-cells = <0x1>;
		#size-cells = <0x0>;

		ad7175: adc@0 {
			compatible = "adi,ad7175-2";
			reg = <0>;
			spi-cpha;
			spi-cpol;
			spi-max-frequency = <10000000>;
			interrupt-parent = <&gpio0>;
			interrupts = <88 4>;
			#io-channel-cells = <1>;

			adi,channels {
				#address-cells = <2>;
				#size-cells = <0>;

				channel@0,1 {
					reg = <0 1>;
					adi,bipolar;
				};

				channel@2,3 {
					reg = <2 3>;
					adi,bipolar;
				};

				channel@0,4 {
					reg = <0 4>;
				};
			};
		};

		rdac@1 {
			compatible = "adi,ad5201";
			reg = <1>;
			spi-max-frequency = <5000000>;
		};
	};
};
