// SPDX-License-Identifier: GPL-2.0
/*
 * Analog Devices ADRV9371
 * https://wiki.analog.com/resources/tools-software/linux-drivers/iio-transceiver/ad9371
 * https://wiki.analog.com/resources/eval/user-guides/mykonos
 *
 * hdl_project: <adrv9371x/zc706>
 * board_revision: <>
 *
 * Copyright (C) 2016-2019 Analog Devices Inc.
 */
/dts-v1/;

#include "zynq-zc706.dtsi"
#include "zynq-zc706-adv7511.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/jesd204/adxcvr.h>

&i2c_mux {
	i2c@5 { /* HPC IIC */
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;

		eeprom@50 {
			compatible = "at24,24c02";
			reg = <0x50>;
		};

		eeprom@54 {
			compatible = "at24,24c02";
			reg = <0x54>;
		};

		ad7291@2f {
			compatible = "adi,ad7291";
			reg = <0x2f>;
		};
	};
};

&fpga_axi {
	rx_dma: rx-dmac@7c400000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c400000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 57 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 16>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <64>;
				adi,source-bus-type = <2>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	rx_obs_dma: rx-obs-dmac@7c440000  {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c440000  0x10000>;
		#dma-cells = <1>;
		interrupts = <0 55 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 16>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <64>;
				adi,source-bus-type = <2>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	tx_dma: tx-dmac@7c420000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c420000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 56 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 16>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <64>;
				adi,source-bus-type = <0>;
				adi,destination-bus-width = <128>;
				adi,destination-bus-type = <1>;
			};
		};
	};

	axi_ad9371_core_rx: axi-ad9371-rx-hpc@44a00000 {
		compatible = "adi,axi-ad9371-rx-1.0";
		reg = <0x44a00000 0x8000>;
		dmas = <&rx_dma 0>;
		dma-names = "rx";
		spibus-connected = <&trx0_ad9371>;
		adi,axi-decimation-core-available;
		decimation-gpios = <&gpio0 115 GPIO_ACTIVE_HIGH>;
	};

	axi_ad9371_core_rx_obs: axi-ad9371-rx-obs-hpc@44a08000 {
		compatible = "adi,axi-ad9371-obs-1.0";
		reg = <0x44a08000 0x1000>;
		dmas = <&rx_obs_dma 0>;
		dma-names = "rx";
		clocks = <&trx0_ad9371 1>;
		clock-names = "sampl_clk";
	};

	axi_ad9371_core_tx: axi-ad9371-tx-hpc@44a04000 {
		compatible = "adi,axi-ad9371-tx-1.0";
		reg = <0x44a04000 0x4000>;
		dmas = <&tx_dma 0>;
		dma-names = "tx";
		clocks = <&trx0_ad9371 2>;
		clock-names = "sampl_clk";
		spibus-connected = <&trx0_ad9371>;
		adi,axi-pl-fifo-enable;
		adi,axi-interpolation-core-available;
		interpolation-gpios = <&gpio0 116 GPIO_ACTIVE_HIGH>;
	};

	axi_ad9371_rx_jesd: axi-jesd204-rx@44aa0000 {
		compatible = "adi,axi-jesd204-rx-1.0";
		reg = <0x44aa0000 0x1000>;

		interrupts = <0 54 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&clkc 16>, <&axi_rx_clkgen>, <&axi_ad9371_adxcvr_rx 0>;
		clock-names = "s_axi_aclk", "device_clk", "lane_clk";

		#clock-cells = <0>;
		clock-output-names = "jesd_rx_lane_clk";

		adi,octets-per-frame = <4>;
		adi,frames-per-multiframe = <32>;
	};

	axi_ad9371_tx_jesd: axi-jesd204-tx@44a90000 {
		compatible = "adi,axi-jesd204-tx-1.0";
		reg = <0x44a90000 0x1000>;

		interrupts = <0 53 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&clkc 16>, <&axi_tx_clkgen>, <&axi_ad9371_adxcvr_tx 0>;
		clock-names = "s_axi_aclk", "device_clk", "lane_clk";

		#clock-cells = <0>;
		clock-output-names = "jesd_tx_lane_clk";

		adi,octets-per-frame = <2>;
		adi,frames-per-multiframe = <32>;
		adi,converter-resolution = <14>;
		adi,bits-per-sample = <16>;
		adi,converters-per-device = <4>;
		adi,control-bits-per-sample = <2>;
	};

	axi_ad9371_rx_os_jesd: axi-jesd204-rx@44ab0000 {
		compatible = "adi,axi-jesd204-rx-1.0";
		reg = <0x44ab0000 0x1000>;

		interrupts = <0 52 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&clkc 16>, <&axi_rx_os_clkgen>, <&axi_ad9371_adxcvr_rx_os 0>;
		clock-names = "s_axi_aclk", "device_clk", "lane_clk";

		#clock-cells = <0>;
		clock-output-names = "jesd_rx_os_lane_clk";

		adi,octets-per-frame = <2>;
		adi,frames-per-multiframe = <32>;
	};

	axi_tx_clkgen: axi-clkgen@43c00000  {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x43c00000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clkc 15>, <&clk0_ad9528 1>;
		clock-names = "s_axi_aclk", "clkin1";
		clock-output-names = "axi_tx_clkgen";
	};

	axi_rx_clkgen: axi-clkgen@43c10000  {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x43c10000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clkc 15>, <&clk0_ad9528 1>;
		clock-names = "s_axi_aclk", "clkin1";
		clock-output-names = "axi_rx_clkgen";

	};

	axi_rx_os_clkgen: axi-clkgen@43c20000  {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x43c20000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clkc 15>, <&clk0_ad9528 1>;
		clock-names = "s_axi_aclk", "clkin1";
		clock-output-names = "axi_rx_os_clkgen";

	};

	axi_ad9371_adxcvr_rx: axi-adxcvr-rx@44a60000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,axi-adxcvr-1.0";
		reg = <0x44a60000 0x1000>;

		clocks = <&clk0_ad9528 1>, <&axi_rx_clkgen 0>;
		clock-names = "conv", "div40";

		#clock-cells = <1>;
		clock-output-names = "rx_gt_clk", "rx_out_clk";

		adi,sys-clk-select = <XCVR_CPLL>;
		adi,out-clk-select = <XCVR_REFCLK>;
		adi,use-lpm-enable;
	};

	axi_ad9371_adxcvr_rx_os: axi-adxcvr-rx-os@44a50000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,axi-adxcvr-1.0";
		reg = <0x44a50000 0x1000>;

		clocks = <&clk0_ad9528 1>, <&axi_rx_os_clkgen>;
		clock-names = "conv", "div40";

		#clock-cells = <1>;
		clock-output-names = "rx_os_gt_clk", "rx_os_out_clk";

		adi,sys-clk-select = <XCVR_CPLL>;
		adi,out-clk-select = <XCVR_REFCLK>;
		adi,use-lpm-enable;
	};

	axi_ad9371_adxcvr_tx: axi-adxcvr-tx@44a80000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,axi-adxcvr-1.0";
		reg = <0x44a80000 0x1000>;

		clocks = <&clk0_ad9528 1>, <&axi_tx_clkgen>;
		clock-names = "conv", "div40";

		#clock-cells = <1>;
		clock-output-names = "tx_gt_clk", "tx_out_clk";

		adi,sys-clk-select = <XCVR_QPLL>;
		adi,out-clk-select = <XCVR_REFCLK>;
	};
};

&spi0 {
	status = "okay";
};

#define fmc_spi spi0

#include "adi-adrv9371.dtsi"

// ad9371_dac_fifo_bypass_s 60
// ad9528_reset_b,       // 59
// ad9528_sysref_req,    // 58
// ad9371_tx1_enable,    // 57
// ad9371_tx2_enable,    // 56
// ad9371_rx1_enable,    // 55
// ad9371_rx2_enable,    // 54
// ad9371_test,          // 53
// ad9371_reset_b,       // 52
// ad9371_gpint,         // 51
// ad9371_gpio_00,       // 50
// ad9371_gpio_01,       // 49
// ad9371_gpio_02,       // 48
// ad9371_gpio_03,       // 47
// ad9371_gpio_04,       // 46
// ad9371_gpio_05,       // 45
// ad9371_gpio_06,       // 44
// ad9371_gpio_07,       // 43
// ad9371_gpio_15,       // 42
// ad9371_gpio_08,       // 41
// ad9371_gpio_09,       // 40
// ad9371_gpio_10,       // 39
// ad9371_gpio_11,       // 38
// ad9371_gpio_12,       // 37
// ad9371_gpio_14,       // 36
// ad9371_gpio_13,       // 35
// ad9371_gpio_17,       // 34
// ad9371_gpio_16,       // 33
// ad9371_gpio_18}));    // 32 + 54

&trx0_ad9371 {
	reset-gpios = <&gpio0 106 0>;
	test-gpios = <&gpio0 107 0>;
	sysref_req-gpios = <&gpio0 112 0>;
	rx2_enable-gpios = <&gpio0 108 0>;
	rx1_enable-gpios = <&gpio0 109 0>;
	tx2_enable-gpios = <&gpio0 110 0>;
	tx1_enable-gpios = <&gpio0 111 0>;
};

&clk0_ad9528 {
	reset-gpios = <&gpio0 113 0>;
};

&axi_ad9371_core_tx {
	plddrbypass-gpios = <&gpio0 114 0>;
};
