// SPDX-License-Identifier: GPL-2.0
/*
 * AD9361-Z0735 System on Module (SOM) SDR - FMC Carrier
 * Link: https://www.analog.com/ADRV9361-Z7035
 * Link: https://wiki.analog.com/resources/eval/user-guides/adrv936x_rfsom
 *
 * hdl_project: <adrv9361z7035/ccfmc_lvds>
 * board_revision: <>
 *
 * Copyright 2015-2019 Analog Devices Inc.
 */
/dts-v1/;
#include "zynq-adrv9361-z7035.dtsi"

#include <dt-bindings/input/input.h>

/ {
	clocks {
		ad9517_ref_clk: clock@3 {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <25000000>;
				clock-output-names = "ad9517_refclk";
		};

		audio_clock: audio_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
		};
	};
};

&axi_i2c0 {

	i2cswitch@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

			adv7511: adv7511@39 {
				compatible = "adi,adv7511";
				reg = <0x39>, <0x3f>;
				reg-names = "primary", "edid";

				adi,input-depth = <8>;
				adi,input-colorspace = "yuv422";
				adi,input-clock = "1x";
				adi,input-style = <1>;
				adi,input-justification = "left";
				adi,clock-delay = <0>;

				#sound-dai-cells = <0>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						adv7511_in: endpoint {
							remote-endpoint = <&axi_hdmi_out>;
						};
					};

					port@1 {
						reg = <1>;
					};
				};
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			adau1761: adau1761@3b {
				compatible = "adi,adau1761";
				reg = <0x3b>;

				clocks = <&audio_clock>;
				clock-names = "mclk";

				#sound-dai-cells = <0>;
			};
		};

		i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
			eeprom@50 {
				compatible = "at24,24c32";
				reg = <0x50>;
			};
		};

		i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;

			ad7291@2f {
				compatible = "adi,ad7291";
				reg = <0x2f>;
			};
		};

		i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};

&aliases {
	ethernet1 = &gem1;
};

&gem1 {
	status = "okay";

	phy-handle = <&phy1>;
	phy-mode = "gmii";

	phy1: phy@1 {
		device_type = "ethernet-phy";
		reg = <0x1>;
		marvell,reg-init = <3 16 0xff00 0x1e 3 17 0xfff0 0x00>;
	};

	gmiitorgmii: gmiitorgmii@8 {
		compatible = "xlnx,gmii-to-rgmii-1.0";
		reg = <0x8>;
		phy-handle = <&phy1>;
	};

};

/ {
	fpga_axi: fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		hdmi_dma: dma@43000000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x43000000 0x10000>;
			#dma-cells = <1>;
			interrupts = <0 59 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc 16>;

			adi,channels {
				#size-cells = <0>;
				#address-cells = <1>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <0>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <1>;
				};
			};
		};

		hdmi_clock: axi-clkgen@79000000 {
			compatible = "adi,axi-clkgen-2.00.a";
			reg = <0x79000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 15>, <&clkc 16>;
			clock-names = "s_axi_aclk", "clkin1";
		};

		axi_hdmi@70e00000 {
			compatible = "adi,axi-hdmi-tx-1.00.a";
			reg = <0x70e00000 0x10000>;
			dmas = <&hdmi_dma 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;

			port {
				axi_hdmi_out: endpoint {
					remote-endpoint = <&adv7511_in>;
				};
			};
		};

		axi_spdif_tx_0: axi-spdif-tx@75c00000 {
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = <0x75c00000 0x1000>;
			dmas = <&dmac_s 0>;
			dma-names = "tx";
			clocks = <&clkc 15>, <&audio_clock>;
			clock-names = "axi", "ref";

			#sound-dai-cells = <0>;
		};

		axi_i2s_0: axi-i2s@77600000 {
			compatible = "adi,axi-i2s-1.00.a";
			reg = <0x77600000 0x1000>;
			dmas = <&dmac_s 1 &dmac_s 2>;
			dma-names = "tx", "rx";
			clocks = <&clkc 15>, <&audio_clock>;
			clock-names = "axi", "ref";

			#sound-dai-cells = <0>;
		};
	};

	adv7511_hdmi_snd {
		compatible = "simple-audio-card";
		simple-audio-card,name = "HDMI monitor";
		simple-audio-card,widgets =
			"Speaker", "Speaker";
		simple-audio-card,routing =
			"Speaker", "TX";

		simple-audio-card,dai-link@0 {
			format = "spdif";
			cpu {
				sound-dai = <&axi_spdif_tx_0>;
				frame-master;
				bitclock-master;
			};
			codec {
				sound-dai = <&adv7511>;
			};
		};
	};

	zed_sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ZED ADAU1761";
		simple-audio-card,widgets =
			"Microphone", "Mic In",
			"Headphone", "Headphone Out",
			"Line", "Line In",
			"Line", "Line Out";
		simple-audio-card,routing =
			"Line Out", "LOUT",
			"Line Out", "ROUT",
			"Headphone Out", "LHP",
			"Headphone Out", "RHP",
			"Mic In", "MICBIAS",
			"LINN", "Mic In",
			"RINN", "Mic In",
			"LAUX", "Line In",
			"RAUX", "Line In";

		simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&axi_i2s_0>;
				frame-master;
				bitclock-master;
			};
			codec {
				sound-dai = <&adau1761>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";
		led0 {
			label = "led0:red";
			gpios = <&gpio0 61 0>;
		};

		led1 {
			label = "led1:red";
			gpios = <&gpio0 59 0>;
		};

		led2 {
			label = "led2:red";
			gpios = <&gpio0 58 0>;
		};

		led3 {
			label = "led3:red";
			gpios = <&gpio0 60 0>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;

		bt0 {
			label = "BT0";
			linux,code = <KEY_LEFT>;
			gpios = <&gpio0 54 0>;
		};

		bt1 {
			label = "BT1";
			linux,code = <KEY_RIGHT>;
			gpios = <&gpio0 55 0>;
		};

		bt2 {
			label = "BT2";
			linux,code = <KEY_ENTER>;
			gpios = <&gpio0 56 0>;
		};

		bt3 {
			label = "BT3";
			linux,code = <KEY_ESC>;
			gpios = <&gpio0 57 0>;
		};

		sw0 {
			label = "SW0";
			linux,input-type = <5>;
			linux,code = <0>;
			gpios = <&gpio0 65 0>;
		};

		sw1 {
			label = "SW1";
			linux,input-type = <5>;
			linux,code = <1>;
			gpios = <&gpio0 62 0>;
		};

		sw2 {
			label = "SW2";
			linux,input-type = <5>;
			linux,code = <2>;
			gpios = <&gpio0 64 0>;
		};

		sw3 {
			label = "SW3";
			linux,input-type = <5>;
			linux,code = <3>;
			gpios = <&gpio0 63 0>;
		};
	};

};

&spi0 {
	clk_ad9517: ad9517@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "adi,ad9517-3";
		reg = <1>;
		spi-max-frequency = <10000000>;
		clocks = <&ad9517_ref_clk>, <&ad9517_ref_clk>;
		clock-names = "refclk", "clkin";
		clock-output-names = "out0", "out1", "out2", "out3", "out4", "out5", "out6", "out7";
		firmware = "pzsdr-fmc-ad9517.stp";
	};
};
