/dts-v1/;
/include/ "zynq-picozed-sdr2.dtsi"


&axi_i2c0 {
	ad7291@2f {
		compatible = "adi,ad7291";
		reg = <0x2f>;
	};

	eeprom@50 {
		compatible = "at24,24c32";
		reg = <0x50>;
	};
};

/ {
	leds {
		compatible = "gpio-leds";
		led0 {
			label = "led0:green";
			gpios = <&gpio0 58 0>;
		};

		led1 {
			label = "led1:green";
			gpios = <&gpio0 59 0>;
		};

		led2 {
			label = "led2:green";
			gpios = <&gpio0 60 0>;
		};

		led3 {
			label = "led3:green";
			gpios = <&gpio0 61 0>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;

		pb0 {
			label = "Left";
			linux,code = <105>; // Left
			gpios = <&gpio0 54 0>;
		};

		pb1 {
			label = "Right";
			linux,code = <106>; // Right
			gpios = <&gpio0 55 0>;
		};

		pb2 {
			label = "Select";
			linux,code = <28>; // Enter
			gpios = <&gpio0 56 0>;
		};

		pb4 {
			label = "Select";
			linux,code = <28>; // Enter
			gpios = <&gpio0 57 0>;
		};
	};
};
