/dts-v1/;

/include/ "zynq-zc706.dtsi"
/include/ "zynq-zc706-adv7511.dtsi"

&i2c_mux {
	i2c@5 { /* HPC IIC */
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;

		eeprom@50 {
			compatible = "at24,24c02";
			reg = <0x50>;
		};

		eeprom@54 {
			compatible = "at24,24c02";
			reg = <0x54>;
		};

		ad7291@2f {
			compatible = "adi,ad7291";
			reg = <0x2f>;
		};
	};
};


&fpga_axi {
	rx_dma: rx-dmac@7c400000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c400000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 57 0>;
		clocks = <&clkc 16>;

		dma-channel {
			adi,source-bus-width = <64>;
			adi,destination-bus-width = <64>;
			adi,type = <0>;
		};
	};

	tx_dma: tx-dmac@7c420000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c420000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 56 0>;
		clocks = <&clkc 16>;

		dma-channel {
			adi,source-bus-width = <128>;
			adi,destination-bus-width = <128>;
			adi,type = <1>;
			adi,cyclic;
		};
	};

	axi_ad9144_core: axi-ad9144-hpc@44a04000 {
		compatible = "adi,axi-ad9144-1.0";
		reg = < 0x44a04000 0x4000 >;
		dmas = <&tx_dma 0>;
		dma-names = "tx";
		spibus-connected = <&dac0_ad9144>;
		xlnx,component-name = "system_axi_ad9144_core_0";
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,pcore-dac-dp-disable = <0x0>;
		xlnx,pcore-id = <0x0>;
		xlnx,pcore-quad-dual-n = <0x0>;
		xlnx,s-axi-min-size = <0xffff>;
	} ;

	axi_ad9144_jesd: axi-jesd204b-tx@44a90000 {
		#clock-cells = <0>;
		compatible = "xlnx,jesd204-5.1";
		reg = < 0x44a90000 0x1000 >;

		clocks = <&axi_daq2_gt_tx0>;
		clock-names = "dac_gt_clk";
		clock-output-names = "jesd_dac_clk";

		xlnx,gt-line-rate = "8.0";
		xlnx,gt-refclk-freq = "200.0";

		xlnx,lanes = <0x4>;
		xlnx,frames-per-multiframe = <32>;
		xlnx,bytes-per-frame = <1>;
		xlnx,subclass = <1>;
		xlnx,lanesync-enable;
		xlnx,scramble-enable;

		xlnx,lmfc-buffer-size = <0x6>;
		xlnx,node-is-transmit = <0x1>;
		xlnx,speedgrade = <0xfffffffe>;
		xlnx,supportlevel = <0x0>;
		xlnx,transceiver = "GTXE2";
		xlnx,transceivercontrol = "false";
		xlnx,use-bram = <0x1>;
		xlnx,use-jspat = "false";
		xlnx,use-rpat = "false";
	} ;
	axi_ad9680_core: axi-ad9680-hpc@44a10000 {
		compatible = "adi,axi-ad9680-1.0";
		reg = < 0x44a10000 0x10000 >;
		dmas = <&rx_dma 0>;
		dma-names = "rx";
		spibus-connected = <&adc0_ad9680>;

		xlnx,pcore-device-type = <0x0>;
		xlnx,pcore-id = <0x0>;
		xlnx,pcore-iodelay-group = "adc_if_delay_group";
		xlnx,s-axi-min-size = <0xffff>;
	} ;

	axi_ad9680_jesd: axi-jesd204b-rx@44a91000 {
		#clock-cells = <0>;
		compatible = "xlnx,jesd204-5.1";
		reg = < 0x44a91000 0x1000 >;

		clocks = <&axi_daq2_gt_rx0>;
		clock-names = "adc_gt_clk";
		clock-output-names = "jesd_adc_clk";

		xlnx,gt-line-rate = "8.0";
		xlnx,gt-refclk-freq = "200.0";

		xlnx,lanes = <0x4>;
		xlnx,frames-per-multiframe = <32>;
		xlnx,bytes-per-frame = <1>;
		xlnx,subclass = <1>;
		xlnx,lanesync-enable;
		xlnx,scramble-enable;

		xlnx,lmfc-buffer-size = <0x6>;
		xlnx,node-is-transmit = <0x0>;
		xlnx,speedgrade = <0xfffffffe>;
		xlnx,supportlevel = <0x0>;
		xlnx,transceiver = "GTXE2";
		xlnx,transceivercontrol = "false";
		xlnx,use-bram = <0x1>;
		xlnx,use-jspat = "false";
		xlnx,use-rpat = "false";
	} ;

	axi_daq2_gt: axi-jesd-gt-rx-tx@44a60000 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "xlnx,axi-jesd-gt-1.0";
		reg = < 0x44a60000 0x10000 >;

		axi_daq2_gt_rx0:link@0 {
			#clock-cells = <0>;
			clocks = <&clk0_ad9523 1>, <&clk0_ad9523 6>;
			clock-names = "conv", "sysref";
			clock-output-names = "adc_gt_clk";
			reg = <0>;
			adi,lanes = <4>;
			adi,first-lane = <0>;
			adi,sys-clk-select = <3>;
			adi,out-clk-select = <4>;
			adi,use-lpm-enable;
		};

		axi_daq2_gt_tx0:link@1 {
			#clock-cells = <0>;
			clocks = <&clk0_ad9523 7>, <&clk0_ad9523 13>;
			clock-names = "conv", "sysref";
			clock-output-names = "dac_gt_clk";
			reg = <0>;
			adi,lanes = <4>;
			adi,first-lane = <0>;
			adi,link-is-transmit-enable;
			adi,sys-clk-select = <3>;
			adi,out-clk-select = <4>;
			adi,use-lpm-enable;
		};
	} ;
};

&spi0 {
	status = "okay";
};

#define fmc_spi spi0

#include "adi-daq2.dtsi"

&adc0_ad9680 {
	powerdown-gpios = <&gpio0 96 0>;
	fastdetect-a-gpios = <&gpio0 89 0>;
	fastdetect-b-gpios = <&gpio0 90 0>;
};

&dac0_ad9144 {
	txen-gpios = <&gpio0 95 0>;
	reset-gpios = <&gpio0 94 0>;
	irq-gpios = <&gpio0 88 0>;
};

&clk0_ad9523 {
	powerdown-gpios = <&gpio0 93 0>;
	sync-gpios = <&gpio0 92 0>;
	reset-gpios = <&gpio0 91 0>;
	status0-gpios = <&gpio0 86 0>;
	status1-gpios = <&gpio0 87 0>;
};

