/dts-v1/;

/include/ "zynq-zc706.dtsi"
/include/ "zynq-zc706-adv7511.dtsi"

&i2c_mux {
	i2c@5 { /* HPC IIC */
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;

		eeprom@50 {
			compatible = "at24,24c02";
			reg = <0x50>;
		};

		eeprom@54 {
			compatible = "at24,24c02";
			reg = <0x54>;
		};

		ad7291@2f {
			compatible = "adi,ad7291";
			reg = <0x2f>;
		};
	};
};


&fpga_axi {
	rx_dma0: rx-dmac@7c420000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c420000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 57 0>;
		clocks = <&clkc 16>;

		dma-channel {
			adi,buswidth = <64>;
			adi,type = <0>;
		};
	};

	rx_dma1: rx-dmac@7c430000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c430000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 56 0>;
		clocks = <&clkc 16>;

		dma-channel {
			adi,buswidth = <64>;
			adi,type = <0>;
		};
	};

	axi_ad9250_core0: axi-ad9250-hpc-0@44a10000 {
		compatible = "xlnx,axi-ad9250-1.00.a";
		reg = <0x44a10000 0x10000>;
		dmas = <&rx_dma0 0>;
		dma-names = "rx";

		spibus-connected = <&adc0_ad9250>;
	};

	axi_ad9250_core1: axi-ad9250-hpc-1@44a20000 {
		compatible = "xlnx,axi-ad9250-1.00.a";
		reg = <0x44a20000 0x10000>;
		dmas = <&rx_dma1 0>;
		dma-names = "rx";

		spibus-connected = <&adc1_ad9250>;
	};

	axi_jesd: axi-jesd204b-rx@44a91000 {
		compatible = "xlnx,jesd204-5.1";
		reg = <0x44a91000 0x1000>;

		clocks = <&axi_adxcvr 0>;
		clock-names = "adc_gt_clk";

		#clock-cells = <0>;
		clock-output-names = "jesd_adc_clk";

		xlnx,lanes = <4>;
		xlnx,frames-per-multiframe = <32>;
		xlnx,bytes-per-frame = <2>;
		xlnx,subclass = <1>;
		xlnx,lanesync-enable;
		xlnx,scramble-enable;
		xlnx,sysref-enable;
	};

	axi_adxcvr: axi-adxcvr@44a60000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,axi-adxcvr-1.0";
		reg = < 0x44a60000 0x1000 >;
		#clock-cells = <0>;

		clocks = <&clk_ad9517 0>;
		clock-names = "conv";
		clock-output-names = "adc_gt_clk";

		adi,sys-clk-select = <0>;
		adi,out-clk-select = <2>;
		adi,use-cpll-enable;
		sysref-gpios = <&gpio0 86 0>;
	};
};

&spi0 {
	status = "okay";
};

#define fmc_spi spi0

#include "adi-fmcjesdadc1.dtsi"
