// SPDX-License-Identifier: GPL-2.0
/*
 * Analog Devices AD7768-1
 * https://www.analog.com/en/products/ad7768-1.html
 * https://wiki.analog.com/resources/eval/user-guides/circuits-from-the-lab/cn0540
 * https://wiki.analog.com/resources/eval/user-guides/cn0540
 *
 * hdl_project: <cn0540/coraz7s>
 * board_revision: <A>
 *
 * Copyright (C) 2020 Analog Devices Inc.
 */
/dts-v1/;
#include "zynq-coraz7s.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	vref: regulator-vref {
		compatible = "regulator-fixed";
		regulator-name = "fixed-supply";
		regulator-min-microvolt = <4096000>;
		regulator-max-microvolt = <4096000>;
		regulator-always-on;
	};

	clocks {
		ad7768_1_mclk: clock@0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <16384000>;
		};
	};

	one-bit-adc-dac@0 {
		compatible = "adi,one-bit-adc-dac";
		#address-cells = <1>;
		#size-cells = <0>;
		in-gpios =  <&gpio0 91 GPIO_ACTIVE_HIGH>;
		out-gpios = <&gpio0 88 GPIO_ACTIVE_HIGH>,
			    <&gpio0 89 GPIO_ACTIVE_HIGH>,
			    <&gpio0 94 GPIO_ACTIVE_HIGH>,
			    <&ad7768_1 0 GPIO_ACTIVE_HIGH>,
			    <&ad7768_1 1 GPIO_ACTIVE_HIGH>,
			    <&ad7768_1 2 GPIO_ACTIVE_HIGH>,
			    <&ad7768_1 3 GPIO_ACTIVE_HIGH>;
		channel@0 {
			reg = <0>;
			label = "cn0540_sw_ff_gpio";
		};
		channel@1 {
			reg = <1>;
			label = "cn0540_red_led";
		};
		channel@2 {
			reg = <2>;
			label = "cn0540_blue_led";
		};
		channel@3 {
			reg = <3>;
			label = "cn0540_shutdown_gpio";
		};
		channel@4 {
			reg = <4>;
			label = "cn0540_ad7768-1-gpio0";
		};
		channel@5 {
			reg = <5>;
			label = "cn0540_ad7768-1-gpio1";
		};
		channel@6 {
			reg = <6>;
			label = "cn0540_FDA_DIS";
		};
		channel@7 {
			reg = <7>;
			label = "cn0540_FDA_MODE";
		};
	};
};

&adc {
	xlnx,channels {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		channel@0 {
			reg = <0>;
		};
		channel@2 {
			reg = <2>;
		};
		channel@6 {
			reg = <6>;
		};
		channel@7 {
			reg = <7>;
		};
		channel@10 {
			reg = <10>;
		};
		channel@14 {
			reg = <14>;
		};
		channel@16 {
			reg = <16>;
		};
	};
};

&fpga_axi {
	rx_dma: rx-dmac@44a30000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x44a30000 0x1000>;
		#dma-cells = <1>;
		interrupt-parent = <&intc>;
		interrupts = <0 57 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 16>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <32>;
				adi,source-bus-type = <1>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	axi_spi_engine_0: spi@44a00000 {
		compatible = "adi,axi-spi-engine-1.00.a";
		reg = <0x44a00000 0x10000>;
		interrupt-parent = <&intc>;
		interrupts = <0 55 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 15 &spi_clk>;
		clock-names = "s_axi_aclk", "spi_clk";
		num-cs = <1>;

		#address-cells = <0x1>;
		#size-cells = <0x0>;

		ad7768_1: adc@0 {
			compatible = "adi,ad7768-1";
			reg = <0>;
			spi-max-frequency = <20000000>;
			spi-cpol;
			spi-cpha;
			vref-supply = <&vref>;
			#gpio-cells = <2>;
			gpio-controller;
			adi,sync-in-gpios = <&gpio0 87 GPIO_ACTIVE_LOW>;
			reset-gpios = <&gpio0 93 GPIO_ACTIVE_LOW>;
			clocks = <&ad7768_1_mclk>;
			clock-names = "mclk";
			dmas = <&rx_dma 0>;
			dma-names = "rx";
			#io-channel-cells = <1>;
		};
	};

	axi_i2c_0:axi-iic@0x44a40000{
		compatible = "xlnx,axi-iic-1.02.a", "xlnx,xps-iic-2.00.a";
		reg = <0x44a40000 0x1000>;
		interrupt-parent = <&intc>;
		interrupts = <0 56 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc 15>;

		#address-cells = <1>;
		#size-cells = <0>;

		ltc2606: ltc2606@0x10 {
			compatible = "adi,ltc2606";
			reg = <0x10>;
			vref-supply = <&vref>;
		};
	};

	spi_clk: axi-clkgen@0x44a70000 {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x44a70000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clkc 15>, <&clkc 15>;
		clock-names = "s_axi_aclk", "clkin1";
		clock-output-names = "spi_clk";
	};
};
