
config INPUT_ALL_ADI_DRIVERS
	tristate "Build all Analog Devices Input Drivers"
	select KEYBOARD_ADP5520
	select KEYBOARD_ADP5588
	select KEYBOARD_ADP5589
	select KEYBOARD_GPIO
	select INPUT_TOUCHSCREEN
	select TOUCHSCREEN_ADS7846
	select TOUCHSCREEN_AD7877
	select TOUCHSCREEN_AD7879
	select TOUCHSCREEN_AD7879_I2C
	select TOUCHSCREEN_AD7879_SPI
	select INPUT_MISC
	select INPUT_AD714X
	select INPUT_AD714X_I2C
	select INPUT_AD714X_SPI
