
config INPUT_ALL_ADI_DRIVERS
	tristate "Build all Analog Devices Input Drivers"
	imply KEYBOARD_ADP5520
	imply KEYBOARD_ADP5588
	imply KEYBOARD_ADP5589
	imply KEYBOARD_GPIO
	imply INPUT_TOUCHSCREEN
	imply TOUCHSCREEN_ADS7846
	imply TOUCHSCREEN_AD7877
	imply TOUCHSCREEN_AD7879
	imply TOUCHSCREEN_AD7879_I2C
	imply TOUCHSCREEN_AD7879_SPI
	imply INPUT_MISC
	imply INPUT_AD714X
	imply INPUT_AD714X_I2C
	imply INPUT_AD714X_SPI
