name: Kernel build

on:
  workflow_call:
    inputs:
      compiler:
        type: string
        default: "gcc"
      arch:
        required: true
        type: string
      defconfig:
        required: true
        type: string
      checks:
        type: boolean
        default: false
      auto_from_range:
        type: boolean
        default: true
    outputs:
      fail: # DEPRECATED
        value: ${{ jobs.build.outputs.fail }}
      warn: # DEPRECATED
        value: ${{ jobs.build.outputs.warn }}
      summary:
        value: ${{ jobs.build.outputs.summary }}

env:
  run_id: ${{ github.run_id }}

jobs:
  build:
    timeout-minutes: 7200
    runs-on: [self-hosted, repo-only, v4]
    continue-on-error: true

    env:
      GCC_VERSION: 13
      LLVM_VERSION: 19

    outputs:
      fail: ${{ steps.assert.outputs.fail }} # DEPRECATED
      warn: ${{ steps.assert.outputs.warn }} # DEPRECATED
      summary: ${{ steps.assert.outputs.summary }}

    steps:
    - uses: analogdevicesinc/doctools/checkout@action

    - name: Get sources
      run: |
        file=$(echo "${{ github.workflow_ref }}" | cut -d'/' -f3- | cut -d'@' -f1)
        workflow_ref=$(awk '
          $0 ~ "uses:" && $0 ~ job".yml" {
            sub(/^[[:space:]]*uses:[[:space:]]*/, "", $0);
            print $0;
            exit
          }
        ' "$file")
        echo $workflow_ref

        org_repo="$(echo "$workflow_ref" | cut -d'/' -f1-2)"
        ref="$(echo "$workflow_ref" | cut -d'@' -f2)"

        get_file () {
          echo https://raw.githubusercontent.com/$org_repo/$ref/$1
          curl -sL -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -o $1 \
              https://raw.githubusercontent.com/$org_repo/$ref/$1
        }

        mkdir -p ci
        get_file ci/build.sh
        get_file ci/runner_env.sh
        get_file ci/symbols_depend.py
        get_file ci/touched_kconfig.awk

        if [[ "${{ inputs.defconfig }}" == "adi_ci_defconfig" ]]; then
          mkdir -p arch/${{ inputs.arch }}/configs
          get_file arch/${{ inputs.arch }}/configs/${{ inputs.defconfig }}
        fi

    - name: Prepare env
      run: |
        if [[ "${{ inputs.compiler }}" == "gcc" ]]; then
          echo "CXX=gcc-$GCC_VERSION" >> $GITHUB_ENV
          echo "compiler_version=$GCC_VERSION" >> $GITHUB_ENV
        elif [[ "${{ inputs.compiler }}" == "llvm" ]]; then
          echo "LLVM=-$LLVM_VERSION" >> $GITHUB_ENV
          echo "compiler_version=$LLVM_VERSION" >> $GITHUB_ENV
        else
          echo "::error ::Compiler '${{ inputs.compiler }}' is not supported, valid are 'gcc' or 'llvm'."
          exit 1
        fi
        if [[ "${{ inputs.checks }}" == "true" ]]; then
          if [[ "${{ inputs.compiler }}" == "gcc" ]]; then
            echo "CHECKS_SPARCE=true" >> $GITHUB_ENV
            echo "CHECKS_GCC_FANALYZER=true" >> $GITHUB_ENV
            echo "CHECKS_SMATCH=true" >> $GITHUB_ENV
          fi
          if [[ "${{ inputs.compiler }}" == "llvm" ]]; then
            echo "CHECKS_CLANG_ANALYZER=true" >> $GITHUB_ENV
          fi
        fi

        if [[ "${{ inputs.arch }}" == "arm" ]]; then
          echo "CROSS_COMPILE=arm-linux-" >> $GITHUB_ENV
        elif [[ "${{ inputs.arch }}" == "microblaze" ]]; then
          echo "CROSS_COMPILE=microblazeel-linux-" >> $GITHUB_ENV
        elif [[ "${{ inputs.arch }}" == "nios2" ]]; then
          echo "CROSS_COMPILE=nios2-linux-" >> $GITHUB_ENV
        elif [[ "${{ inputs.arch }}" == "arm64" ]]; then
          echo "CROSS_COMPILE=aarch64-linux-" >> $GITHUB_ENV
        fi
        echo "ARCH=${{ inputs.arch }}" >> $GITHUB_ENV
        echo "DEFCONFIG=${{ inputs.defconfig }}" >> $GITHUB_ENV
        echo "AUTO_FROM_RANGE=${{ inputs.auto_from_range }}" >> $GITHUB_ENV

    - name: Make defconfig
      run: |
        if [[ -f "arch/$ARCH/configs/$DEFCONFIG" ]] || \
           [[ "$DEFCONFIG" == "allnoconfig" ]]; then
          make $DEFCONFIG
        else
          make defconfig
        fi

    - name: Imply driver config
      if: ${{ env.AUTO_FROM_RANGE == 'true' }}
      run: |
        source ./ci/build.sh
        auto_set_kconfig

    - name: Apply cocci/bash and save defconfig
      run: |
        source ./ci/build.sh
        apply_prerun
        make savedefconfig

    - name: Compile devicetrees
      if: ${{ env.AUTO_FROM_RANGE == 'true' }}
      run: |
        source ./ci/build.sh
        compile_devicetree

    - name: Get compile auxiliar files
      run: |
        source ./ci/build.sh
        prepare_compile_kernel

    - name: Compile kernel
      run: |
        source ./ci/build.sh
        compile_kernel

    - name: Prepare dist
      run: |
        [[ -d dist ]] && rm -r dist || true
        [[ -d dist-headers ]] && rm -r dist-headers || true

        kversion=$(cat ./include/config/kernel.release)
        mkdir -p dist/usr/lib/modules/$kversion ; (cd $_ ; touch modules.order modules.builtin modules.builtin.modinfo)
        make INSTALL_MOD_PATH=dist modules_install
        (cd dist ; find . -type l -delete ; rm -r ./usr)
        mkdir -p dist-headers
        if command -v rsync ; then
          make INSTALL_HDR_PATH=dist-headers/usr headers_install
          (cd dist-headers ; find . -type l -delete)
        fi

        cp defconfig dist
        mkdir -p dist/boot
        cp arch/$ARCH/boot/$KERNEL dist/boot

        echo "kernel=$KERNEL" > dist/context.txt
        echo "kernel_release=$kversion" >> dist/context.txt
        echo "kernel_defconfig=${{ inputs.defconfig }}" >> dist/context.txt
        echo "compiler_name=${{ inputs.compiler }}" >> dist/context.txt
        echo "compiler_version=${{ env.compiler_version }}" >> dist/context.txt
        echo "compiler_arch=${{ inputs.arch }}" >> dist/context.txt
        echo "git_sha=${GITHUB_SHA:0:12}" >> dist/context.txt
        echo "git_sha_at=$(git --no-pager log $GITHUB_SHA -1 --pretty=format:%at)" >> dist/context.txt
        echo "git_sha_ct=$(git --no-pager log $GITHUB_SHA -1 --pretty=format:%ct)" >> dist/context.txt
        [[ -d dist-headers/usr ]] && cp dist/context.txt dist-headers/context.txt || true

    - name: Assert state
      if: ${{ failure() }}
      run: |
        source ./ci/build.sh
        set_step_fail "assert_state"
        echo "fatal=true" >> "$GITHUB_ENV"

    - name: Assert compiled
      if: ${{ !cancelled() && env.fatal != 'true' && env.AUTO_FROM_RANGE == 'true' }}
      run: |
        source ./ci/build.sh
        assert_compiled

    - name: Sparse
      if: ${{ !cancelled() && env.fatal != 'true' && env.CHECKS_SPARCE == 'true' }}
      run: |
        source ./ci/build.sh
        compile_kernel_sparse

    - name: GCC fanalyzer
      if: ${{ !cancelled() && env.fatal != 'true' && env.CHECKS_GCC_FANALYZER == 'true' }}
      run: |
        source ./ci/build.sh
        compile_gcc_fanalyzer

    - name: Clang analyzer
      if: ${{ !cancelled() && env.fatal != 'true' && env.CHECKS_CLANG_ANALYZER == 'true' }}
      run: |
        source ./ci/build.sh
        compile_clang_analyzer

    - name: Smatch
      if: ${{ !cancelled() && env.fatal != 'true' && env.CHECKS_SMATCH == 'true' }}
      run: |
        source ./ci/build.sh
        compile_kernel_smatch

    - name: Store the Linux kernel and modules drivers
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.defconfig }}-${{ inputs.compiler }}-${{ inputs.arch }}
        path: dist

    - name: Store the Linux headers
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.defconfig }}-${{ inputs.compiler }}-${{ inputs.arch }}-headers
        path: dist-headers
        if-no-files-found: ignore

    - name: Export labels
      if: ${{ !cancelled() }}
      id: assert
      run: |
        source ./ci/runner_env.sh
        export_job_summary
