name: Checks

on:
  workflow_call:
    inputs:
      ref_branch: # DEPRECATED
        required: false
        type: string
      strategy:
        required: false
        type: string
        default: "commit" # when supported, or "file"
      skip_checkpatch: # DEPRECATED
        type: boolean
        default: false
    outputs:
      fatal:
        value: ${{ jobs.checks.outputs.fatal}}
      fail: # DEPRECATED
        value: ${{ jobs.checks.outputs.fail }}
      warn: # DEPRECATED
        value: ${{ jobs.checks.outputs.warn }}
      summary:
        value: ${{ jobs.checks.outputs.summary }}

jobs:
  checks:
    timeout-minutes: 7200
    runs-on: [self-hosted, repo-only, v4]
    continue-on-error: true

    outputs:
      fatal: ${{ steps.assert.outputs.fatal }}
      fail: ${{ steps.assert.outputs.fail }} # DEPRECATED
      warn: ${{ steps.assert.outputs.warn }} # DEPRECATED
      summary: ${{ steps.assert.outputs.summary }}

    steps:
    - uses: analogdevicesinc/doctools/checkout@action

    - name: Get sources
      run: |
        file=$(echo "${{ github.workflow_ref }}" | cut -d'/' -f3- | cut -d'@' -f1)
        workflow_ref=$(awk '
          $0 ~ "uses:" && $0 ~ job".yml" {
            sub(/^[[:space:]]*uses:[[:space:]]*/, "", $0);
            print $0;
            exit
          }
        ' "$file")
        echo $workflow_ref

        org_repo="$(echo "$workflow_ref" | cut -d'/' -f1-2)"
        ref="$(echo "$workflow_ref" | cut -d'@' -f2)"

        get_file () {
          echo https://raw.githubusercontent.com/$org_repo/$ref/$1
          curl -sL -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -o $1 \
              https://raw.githubusercontent.com/$org_repo/$ref/$1
        }

        mkdir -p ci
        get_file ci/build.sh
        get_file ci/runner_env.sh

    - name: Apply cocci
      run: |
        source ./ci/build.sh
        apply_prerun

    - name: Assert state
      if: ${{ failure() }}
      run: |
        source ./ci/build.sh
        set_step_fail "assert_state"
        echo "fatal=true" >> "$GITHUB_ENV"

    - name: License
      if: ${{ !cancelled() && env.fatal != 'true' }}
      run: |
        source ./ci/build.sh
        check_license

    - name: Check patch
      if: ${{ !cancelled() && env.fatal != 'true' }}
      run: |
        status=0; timeout 1d bash -c "source ./ci/build.sh ; check_checkpatch ${{ inputs.strategy }}" || status=$?
        [ $status -eq 124 ] && echo "step_fail_checkpatch_timeout=true" >> "$GITHUB_ENV"
        exit $status

    - name: Coccicheck
      if: ${{ !cancelled() && env.fatal != 'true' }}
      run: |
        status=0; timeout 1d bash -c "source ./ci/build.sh ; check_coccicheck" || status=$?
        [ $status -eq 124 ] && echo "step_fail_coccicheck_timeout=true" >> "$GITHUB_ENV"
        exit $status

    - name: Check dt-bindings
      if: ${{ !cancelled() && env.fatal != 'true' }}
      run: |
        source ./ci/build.sh
        check_dt_binding_check

    - name: Check defconfigs
      if: ${{ !cancelled() && env.fatal != 'true' }}
      run: |
        # Collect all defconfigs mentioned in the top-level and look for changes
        configs=($(awk '/ARCH:/{arch=$2} /DEFCONFIG:/{print arch "/" $2}' \
                   .github/workflows/top-level.yml | \
                 sed 's/"//g'))
        source ./ci/build.sh
        check_assert_defconfigs ${configs[@]}

    - name: Export labels
      if: ${{ !cancelled() }}
      id: assert
      run: |
        echo "fatal=$fatal" >> "$GITHUB_OUTPUT"
        source ./ci/runner_env.sh
        export_job_summary
