name: Synchronization cron

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  next-linux-next-master:
    uses: ./.github/workflows/mirror.yml
    secrets: inherit
    permissions:
      contents: write
      actions: write
    with:
      remote_name: "next/linux-next"
      fetch_url: "https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git"
      branch: "master"

  jic23-iio-testing:
    uses: ./.github/workflows/mirror.yml
    secrets: inherit
    permissions:
      contents: write
      actions: write
    with:
      remote_name: "jic23/iio"
      fetch_url: "https://git.kernel.org/pub/scm/linux/kernel/git/jic23/iio.git"
      branch: "testing"

  self-branches:
    uses: ./.github/workflows/sync_ci.yml
    secrets: inherit
    permissions:
      contents: write
      actions: write
    strategy:
      matrix:
        branch:
          - "oran-6.12-y"
          - "oran-6.12.38-y"
          - "adsp-6.12.38-y"
    with:
      branch: ${{ matrix.branch }}
