on:
  pull_request:
    types: [closed]

jobs:
  clean-cloudsmith:
    if: github.repository == 'analogdevicesinc/linux'
    runs-on: [self-hosted, repo-only]
    steps:
    - uses: cloudsmith-io/cloudsmith-cli-action@v1.0.5
      env:
        CLOUDSMITH_SERVICE_SLUG: ${{ secrets.CLOUDSMITH_SERVICE_SLUG }}
      if: ${{ env.CLOUDSMITH_SERVICE_SLUG != '' && env.CLOUDSMITH_SERVICE_SLUG != ' ' }}
      with:
        oidc-namespace: ${{ vars.CLOUDSMITH_NAMESPACE }}
        oidc-service-slug: ${{ secrets.CLOUDSMITH_SERVICE_SLUG }}
        oidc-auth-only: 'true'

    - name: Get Cloudsmith API Key
      env:
        CLOUDSMITH_SERVICE_SLUG: ${{ secrets.CLOUDSMITH_SERVICE_SLUG }}
      if: ${{ env.CLOUDSMITH_SERVICE_SLUG == '' || env.CLOUDSMITH_SERVICE_SLUG == ' ' }}
      run: |
        CLOUDSMITH_API_KEY=$(echo "${{ secrets.CLOUDSMITH_API_KEY }}" | xargs)
        echo "CLOUDSMITH_API_KEY=$CLOUDSMITH_API_KEY" >> "$GITHUB_ENV"
        
    - name: Delete PR artifacts from Cloudsmith
      run: |
        curl -sO https://raw.githubusercontent.com/analogdevicesinc/wiki-scripts/main/utils/cloudsmith_utils/cloudsmith_helper.py
        python cloudsmith_helper.py \
          --repo sdg-linux \
          --method remove_item_from_location \
          --package_version "^linux/PRs/.*/pr_${{ github.event.number }}/" \
          --package_name "*"
