name: Kernel build

on:
  push:
    branches:
      - main
      - rpi-6.1.y
      - rpi-6.6.y
      - rpi-6.12.y
      - staging-rpi/*
    paths-ignore:
      - '.github/**'
      - 'ci/**'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '.github/**'
      - 'ci/**'
      - 'docs/**'

jobs:
  checks:
    uses: ./.github/workflows/checks.yml
    secrets: inherit
    with:
      ref_branch: "mirror/next/linux-next/master"
  build_gcc_x86_64:
    uses: ./.github/workflows/build.yml
    needs: [checks]
    secrets: inherit
    with:
      CXX: "14"
      ARCH: "x86"
      DEFCONFIG: "adi_ci_defconfig"
  build_llvm_x86_64:
    uses: ./.github/workflows/build.yml
    needs: [checks]
    secrets: inherit
    with:
      LLVM: "19"
      ARCH: "x86"
      DEFCONFIG: "adi_ci_defconfig"
      CHECKS: true
  build_gcc_aarch64:
    uses: ./.github/workflows/build.yml
    needs: [checks]
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "aarch64-suse-linux-"
      ARCH: "arm64"
      DEFCONFIG: "adi_ci_defconfig"
  build_gcc_arm:
    uses: ./.github/workflows/build.yml
    #needs: [checks]
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "arm-suse-linux-gnueabi-"
      ARCH: "arm"
      DEFCONFIG: "adi_ci_defconfig"
      CHECKS: true
  assert_checks:
    runs-on: [self-hosted, v1]
    needs:
      - checks
      - build_gcc_x86_64
      - build_llvm_x86_64
      - build_gcc_aarch64
      - build_gcc_arm

    steps:
      - name: Assert
        env:
          job_warn_checks: ${{needs.checks.outputs.warn}}
          job_warn_build_gcc_x86_64: ${{needs.build_gcc_x86_64.outputs.warn}}
          job_warn_build_llvm_x86_64: ${{needs.build_llvm_x86_64.outputs.warn}}
          job_warn_build_gcc_aarch64: ${{needs.build_gcc_aarch64.outputs.warn}}
          job_warn_build_gcc_arm: ${{needs.build_gcc_arm.outputs.warn}}
          job_fail_checks: ${{needs.checks.outputs.fail}}
          job_fail_build_gcc_x86_64: ${{needs.build_gcc_x86_64.outputs.fail}}
          job_fail_build_llvm_x86_64: ${{needs.build_llvm_x86_64.outputs.fail}}
          job_fail_build_gcc_aarch64: ${{needs.build_gcc_aarch64.outputs.fail}}
          job_fail_build_gcc_arm: ${{needs.build_gcc_arm.outputs.fail}}
        run: |
          curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -L -o runner_env.sh \
            https://raw.githubusercontent.com/${{ github.repository }}/$GITHUB_SHA/ci/runner_env.sh
          source runner_env.sh
          assert_labels
  build_gcc_arm_zynq_xcomm_adv7511_defconfig:
    needs: [assert_checks]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "arm-suse-linux-gnueabi-"
      ARCH: "arm"
      DEFCONFIG: "zynq_xcomm_adv7511_defconfig"
      AUTO_FROM_RANGE: false
  build_gcc_arm_socfpga_adi_defconfig:
    needs: [assert_checks]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "arm-suse-linux-gnueabi-"
      ARCH: "arm"
      DEFCONFIG: "socfpga_adi_defconfig"
      AUTO_FROM_RANGE: false
  build_gcc_arm_zynq_pluto_defconfig:
    needs: [assert_checks]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "arm-suse-linux-gnueabi-"
      ARCH: "arm"
      DEFCONFIG: "zynq_pluto_defconfig"
      AUTO_FROM_RANGE: false
  build_gcc_arm_zynq_m2k_defconfig:
    needs: [assert_checks]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "arm-suse-linux-gnueabi-"
      ARCH: "arm"
      DEFCONFIG: "zynq_m2k_defconfig"
      AUTO_FROM_RANGE: false
  build_gcc_aarch64_adi_zynqmp_defconfig:
    needs: [assert_checks]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "aarch64-suse-linux-"
      ARCH: "arm64"
      DEFCONFIG: "adi_zynqmp_defconfig"
      AUTO_FROM_RANGE: false
  build_gcc_arm_adi_versal_defconfig:
    needs: [assert_checks]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      CXX: "14"
      CROSS_COMPILE: "arm-suse-linux-gnueabi-"
      ARCH: "arm"
      DEFCONFIG: "adi_versal_defconfig"
      AUTO_FROM_RANGE: false
  many_devicetrees:
    needs: [assert_checks]
    uses: ./.github/workflows/many_devicetrees.yml
    secrets: inherit
    with:
      CXX: "14"
      ARCHS: "arm arm64 microblaze nios2"
      DTS_FILES: >
        arch/microblaze/boot/dts/*.dts
        arch/arm/boot/dts/xilinx/zynq-*.dts
        arch/arm/boot/dts/intel/socfpga/socfpga_*.dts
        arch/arm64/boot/dts/xilinx/zynqmp-*.dts
        arch/arm64/boot/dts/xilinx/versal-*.dts
        arch/nios2/boot/dts/*.dts
  assert_build:
    runs-on: [self-hosted, v1]
    needs:
      - build_gcc_arm_zynq_xcomm_adv7511_defconfig
      - build_gcc_arm_socfpga_adi_defconfig
      - build_gcc_arm_zynq_pluto_defconfig
      - build_gcc_arm_zynq_m2k_defconfig
      - build_gcc_aarch64_adi_zynqmp_defconfig
      - build_gcc_arm_adi_versal_defconfig
      - many_devicetrees
    steps:
      - name: Assert
        env:
          job_warn_build_gcc_arm_zynq_xcomm_adv7511_defconfig: ${{needs.build_gcc_arm_zynq_xcomm_adv7511_defconfig.outputs.warn}}
          job_fail_build_gcc_arm_zynq_xcomm_adv7511_defconfig: ${{needs.build_gcc_arm_zynq_xcomm_adv7511_defconfig.outputs.fail}}
          job_warn_build_gcc_arm_socfpga_adi_defconfig: ${{needs.build_gcc_arm_socfpga_adi_defconfig.outputs.warn}}
          job_fail_build_gcc_arm_socfpga_adi_defconfig: ${{needs.build_gcc_arm_socfpga_adi_defconfig.outputs.fail}}
          job_warn_build_gcc_arm_zynq_pluto_defconfig: ${{needs.build_gcc_arm_zynq_pluto_defconfig.outputs.warn}}
          job_fail_build_gcc_arm_zynq_pluto_defconfig: ${{needs.build_gcc_arm_zynq_pluto_defconfig.outputs.fail}}
          job_warn_build_gcc_arm_zynq_m2k_defconfig: ${{needs.build_gcc_arm_zynq_m2k_defconfig.outputs.warn}}
          job_fail_build_gcc_arm_zynq_m2k_defconfig: ${{needs.build_gcc_arm_zynq_m2k_defconfig.outputs.fail}}
          job_warn_build_gcc_aarch64_adi_zynqmp_defconfig: ${{needs.build_gcc_aarch64_adi_zynqmp_defconfig.outputs.warn}}
          job_fail_build_gcc_aarch64_adi_zynqmp_defconfig: ${{needs.build_gcc_aarch64_adi_zynqmp_defconfig.outputs.fail}}
          job_warn_build_gcc_arm_adi_versal_defconfig: ${{needs.build_gcc_arm_adi_versal_defconfig.outputs.warn}}
          job_fail_build_gcc_arm_adi_versal_defconfig: ${{needs.build_gcc_arm_adi_versal_defconfig.outputs.fail}}
          job_warn_many_devicetrees: ${{needs.many_devicetrees.outputs.warn}}
          job_fail_many_devicetrees: ${{needs.many_devicetrees.outputs.fail}}
        run: |
          curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -L -o runner_env.sh \
            https://raw.githubusercontent.com/${{ github.repository }}/$GITHUB_SHA/ci/runner_env.sh
          source runner_env.sh
          assert_labels
